[2016-04-19 00:41] mbudiu-bfn opened #11 "Visiting a NameMap does not preserve order"
If a visitor of the children of a NameMap returns an object with a different name, the object is inserted at the end of the NameMap instead of replacing the original object.

[2016-04-19 00:43] mbudiu-bfn opened #12 "NameMap pointers do not work"
A NameMap can only be used inline in the IR, since the IR generator does not support pointers to NameMaps.

[2016-04-19 00:45] mbudiu-bfn opened #13 "The P4-16 grammar has the wrong priority for method calls with templates"
The testdata/v1_2_samples/cast-call.p4 program is a repro of this bug.

[2016-04-21 01:00] #11 closed, assigned to ChrisDodd

[2016-04-21 01:01] mbudiu-bfn opened #16 "Build requires the BMv2 simulator to be installed"
Instead the build should just skip the BMv2 tests if the simulator is not installed.

[2016-04-21 22:11] #16 closed, assigned to nobody

[2016-04-21 22:11] mbudiu-bfn opened #19 "The error messages from the compiler when type checking fails are not always very easy to understand."

[2016-04-22 15:10] mbudiu-bfn opened #20 "bug_helper in lib/error.h does not properly format some types of arguments"
This is why it is disabled in lib/exceptions.h

[2016-04-23 00:09] #20 closed, assigned to nobody

[2016-04-27 17:57] mbudiu-bfn opened #25 "The BMv2 back-end does not handle correctly nested struct types."

[2016-04-27 17:57] mbudiu-bfn opened #26 "The BMv2 back-end does not handle correctly array temporaries."

[2016-04-27 17:59] mbudiu-bfn opened #27 "The BMv2 back-end cannot set default_actions for tables"
The problem is that BMv2 does not yet support setting the default actions.

[2016-04-27 17:59] mbudiu-bfn opened #28 "There are no end-to-end tests for the EBPF back-end"

[2016-05-05 22:00] mbudiu-bfn opened #40 "Node::operator== double-dispatch is broken"

[2016-05-06 23:28] mbudiu-bfn opened #43 "Mutation through IndexedVector iterator will produce wrong results."
The iterator of the IndexedVector can be used for reading; however, overwriting an element through the iterator will result in an inconsistent IndexedVector (the replace method can be used to achieve the desired effect).

[2016-05-09 15:21] mbudiu-bfn opened #45 "The pass that removes exit statements is incorrect"
It does not handle correctly exits invoked from actions.

[2016-05-10 19:55] #40 closed, assigned to ChrisDodd

[2016-05-10 19:58] thantry opened #47 "Add support for simple arithmetic expressions in bitfield size"
P4 grammar today cannot parse initializations of the form:

bit<8+8> p;
or
bit<16*8> p;
These would be useful for declaring identifiers that are multiples of bytes or half-words (for instance).

[2016-05-11 22:58] antoninbas opened #49 "compilation broken with g++4.9"
[code]

This is a known bug, there are workarounds.
See https://gcc.gnu.org/gcc-4.9/porting_to.html

[2016-05-11 23:03] antoninbas opened #50 "clang reports many warnings"
with `clang++-3.6`:
for example:

[code]

[2016-05-12 18:29] #45 closed, assigned to nobody

[2016-05-13 15:07] #49 closed, assigned to nobody

[2016-05-13 15:08] #50 closed, assigned to nobody

[2016-05-31 03:32] vgurevich opened #60 "Handling of tables with multiple "lpm" match type fields"
Following up on a posting in p4-dev...

The current code accepts such tables and generates a JSON file. Here is an example program:

[code]

However, when this JSON file is used with simple_switch BMv2 executable, it rejects it with the following message:

[code]

The current "official" compiler (p4c-bm) rejects such tables. The spec is not very explicit about whether this construct is allowed. If

[2016-06-24 00:20] hanw opened #63 "Compilation error with clang++3.8"
Tried to compile p4c in docker's ubuntu-latest image with clang++3.8, but got the following error.

[2016-06-24 00:59] #63 closed, assigned to nobody

[2016-07-07 21:14] mbudiu-vmw opened #67 "When reporting errors the comments in the original program are no longer shown"

[2016-07-21 20:23] robertsoule opened #69 "configure.ac uses gnu-style invocation of find"
On Linux, find can be invoked without a path. But on OSX, specifying the path is required. Consider changing line 82 of configure.ac from:

m4_foreach_w([ac_file],m4_esyscmd([find -name addconfig.ac]),

to

m4_foreach_w([ac_file],m4_esyscmd([find ./ -name addconfig.ac]),

[2016-07-21 20:25] robertsoule opened #70 "memrchr only available with glib.c"
The file lib/stringref.h makes a call to memrchr, which is on available on OSX. One possible fix would be to add the following:
# ifdef **MACH**

void *
memrchr(const char _s, int c, size_t n)
{
  const char \* start = s;
  const char \* end = s + n - 1;
  while(end>=start)
    {
      if(_end==c)
        return (void *)end;
      else
        end--;
    }
  return NULL;
}
# endif

[2016-08-04 17:21] #70 closed, assigned to nobody

[2016-08-04 17:22] #69 closed, assigned to nobody

[2016-08-25 00:51] mihaibudiu opened #78 "String literals are not parsed according to the spec"
The preprocessor interferes with the parsing of string literals - the ones spanning multiple lines.

[2016-09-13 00:01] jnfoster opened #82 "COMPILER BUG: typechecker mutated node"
Trying to compile this [bug.zip](https://github.com/p4lang/p4c/files/468575/bug.zip) using the P4-16 compiler,

[code]

halts with an error:

[code]

It seems to be an issue with the cube expressions.

ps. sorry for the .zip file -- GitHub won't accept p4 uploads for some reason...

[2016-09-17 17:53] anirudhSK opened #83 "Trouble building on Mac OS X El Capitan"
I am having some trouble building on Mac OS X.
1. It complains of yellow and yylval not being defined. For instance,

CXX      tools/ir-generator/ir-generator.o
In file included from ../tools/ir-generator/ir-generator.ypp:120:
<stdout>:857:1: error: use of undeclared identifier 'yylloc'
YY_RULE_SETUP
^
<stdout>:760:2: note: expanded from macro 'YY_RULE_SETUP'
        YY_USER_ACTION
        ^
../to

[2016-09-18 00:39] #83 closed, assigned to nobody

[2016-09-19 23:19] jnfoster opened #85 "Compiler bug: inconsistent type applications"
The compiler seems to allow explicit type application (AKA instantiation) for packages, but not for parser and control elements. This seems like a bug since the P4-16 grammar in the draft spec allows type application in all of these declarations.

Most programmer will want to let the inference engine calculate types, but it might be useful, for example, if they want to specify or document that a t

[2016-09-20 15:48] #85 closed, assigned to nobody

[2016-09-22 16:06] mihaibudiu opened #87 "Errors show renamed symbol names"
After renaming symbols the errors do not display the original symbol names.

[2016-09-25 20:01] cc10512 opened #88 "mac os x port"

[2016-09-26 14:25] #88 closed, assigned to cc10512

[2016-09-26 22:00] mihaibudiu opened #91 "default keyword"
default should be usable within a tuple in a select expression label

[2016-09-27 04:58] jnfoster opened #92 "Compiler bug: "expected an instance declaration""
The following program

[code]

crashes with a compiler bug:

[code]

[2016-09-28 20:18] jnfoster opened #94 "Compiler bug: "Unexpected header type""
The following program, which is essentially a no-op:

[code]

crashes with a compiler bug error, and a core dump using `p4c-bm2-ss`

[code]

[2016-09-29 21:25] mbudiu-vmw opened #96 "Testing bug: no negative tests for p4c-bm2-ss"
The bmv2 backend testing script does not really check the results of negative tests for bmv2.

[2016-09-30 23:15] #91 closed, assigned to nobody

[2016-10-06 16:37] mihaibudiu opened #98 "Compiler bug: error namespace"
The spec mandates that errors are now in a separate namespace.
So one should write
error.NoError
instead of
NoError

[2016-10-12 17:20] smolkaj opened #99 "compiler bug? global action"
I have a program that compiles fine with the `p4c-bm2-ss` backend,  but crashes at run-time with the `small_switch` bmv2. I compile with

[code]

and run with

[code]

Compilation succeeds without complaints, but when I invoke `simple_switch` it crashes with the following error:

[code]

Here is a minimized version of the program:

[code]

The problem seems to be caused by the global `drop` action

[2016-10-12 18:58] smolkaj opened #100 "compiler bug: cloning"
The program below compiles fine with the `p4c-bm2-ss` backend, put crashes with

[code]

when executed  with the `simple_switch` bmv2:

[code]

[2016-10-13 22:30] jrfastab opened #102 "feature: p4: initializing tables from p4 program"
I think this came up previously but would like to revisit.

In some architectures there are tables that can not be written to at run-time but can be programmed via firmware/ucode/etc at init time. Expressing this in P4 is not possible at the moment because the language expects all tables to be programmable at runtime.

To resolve this I have added an extension to an internal prototype compiler tha

[2016-10-13 23:33] smolkaj opened #103 "broadcast"
The architecture `v1model.p4` does not currently seem to provide a primitive to broadcast packets.

[2016-10-14 17:33] #103 closed, assigned to nobody

[2016-10-14 21:46] mihaibudiu opened #105 "Incorrect elimination of bit slices"
@ChrisDodd
The pass LowerExpressions from the p4c-bm2-ss compiler incorrectly transforms:
(packet.lookahead<bit<24>>())[0:0]
to
(bit<1>)((packet.lookahead<bit<24>>()) >> 0)
Repro in p4_14_samples/parser_dc_full.p4

[2016-10-18 20:34] jnfoster opened #108 "lexer bug"
This program compiles successfully using `p4test`

[code]

while this program fails,

[code]

with an error:

[code]

Typically type parameters are binders so one wouldn't expect a prior declaration to affect whether the declaration of `f` is syntactically valid or not.

[2016-10-20 21:06] smolkaj opened #110 "bit-string concatenation not supported"
The spec defines a concatenation operator `++` on bit strings:

However, the compiler does not currently seem to support it:

[code]

[2016-10-20 21:57] #105 closed, assigned to nobody

[2016-10-20 22:15] #110 closed, assigned to nobody

[2016-10-20 23:56] smolkaj opened #111 "compiler bug: Could not find type for <Concat>"
I get the following error message:

[code]

I suspect this may be related to #110 and may be caused by bit string concatenation.

[2016-10-21 22:58] smolkaj opened #113 "COMPILER BUG: ../frontends/p4/typeChecking/typeChecker.h:99"
I get the following error

[code]

The field `bypass_lookups` is of type `bit<16>`. I'm happy to provide more details if needed.

[2016-10-25 21:42] #113 closed, assigned to nobody

[2016-10-25 21:42] #111 closed, assigned to nobody

[2016-10-25 22:03] smolkaj opened #115 "[compiler bug] invoking control block inside control block"
Instantiating a control back and applying it within another causes the following bug in the inliner:

[code]

Here is a minimal example triggering the bug (see also pull request #116):

[code]

[2016-10-26 00:14] smolkaj opened #117 "[bmv2 backend] intrinsic meta data"
The field name `intrinsic_metadata` seems to be reserved or have some special meaning inside the meta data struct. Specifically, the program

[code]

raises the exception

[code]

but if I rename the field `intrinsic_metadata`, the code compiles fine. Is this the intended behavior?

[2016-10-26 00:52] smolkaj opened #118 "[bmv2 backend] meta data must be flat struct?"
Does the bmv2 backend require that all meta data be put into a flat struct? I'm running into the following exception (omitting some details):

[code]

This seems like an artificial restriction since the compiler should always to be able to inline nested struts or headers. Storing headers in the metadata is a common design pattern in `switch.p4`.

[2016-10-26 20:13] ngsrinivas opened #119 "Type_Enum not handled on bm2"
Hi,

The flowlet switching example returns the following error on compiling to the bm2 target:

[code]

[2016-10-26 20:19] ngsrinivas opened #120 "Segfault on missing action parameters"
Hi,

In the attached source file, when I call the action set_nhop from an apply block without arguments, I get a segfault from the compiler. The compiler should instead complain about missing action parameters.

[code]

When I change the apply block in the ingress control to include a parameter for `set_nhop`, i.e.,

[code]

the file validates correctly.

[problematic.txt](https://github.com/p4lan

[2016-10-28 00:54] #87 closed, assigned to nobody

[2016-10-28 00:54] #78 closed, assigned to nobody

[2016-10-28 05:05] #108 closed, assigned to nobody

[2016-10-28 05:06] #94 closed, assigned to nobody

[2016-10-28 05:06] #92 closed, assigned to nobody

[2016-10-28 05:06] #82 closed, assigned to nobody

[2016-10-28 16:28] mbudiu-vmw opened #122 "Compilers do not handle side-effects in select expression labels"
The spec allows side-effects in select labels, but all our examples use constant labels.
Handling multiple side-effects in the right order will require some compiler support.

[2016-10-28 23:52] #118 closed, assigned to nobody

[2016-10-31 20:43] jnfoster opened #125 "compiler bug: "unhandled case""
While playing with a small example, I made a small typo that triggered a compiler bug. Note that in the deparser, I wrote `h` instead of `hdr`.

[code]

[2016-11-03 16:56] #99 closed, assigned to nobody

[2016-11-03 17:10] #100 closed, assigned to nobody

[2016-11-03 17:14] #115 closed, assigned to nobody

[2016-11-03 17:16] #117 closed, assigned to nobody

[2016-11-03 22:31] smolkaj opened #129 "write-only not enforced"
P4_16 allows one to declare parameters write-only using the keyword `out`. However, the type checker does not seem to actually enforce this. The following program compiles just fine:
[code]

[2016-11-03 23:26] smolkaj opened #130 "COMPILER BUG: ../frontends/p4/def_use.h:292"
I get the  error
[code]
when trying to compile the following (minimized) program:
[code]

[2016-11-04 15:56] #98 closed, assigned to nobody

[2016-11-04 17:32] mihaibudiu opened #131 "Compile-time only operations"
Some operations are only defined at compile-time: / and % for example. The compiler should enforce this.

[2016-11-04 19:52] #129 closed, assigned to nobody

[2016-11-04 19:59] smolkaj opened #133 "[bmv2] control block invocation bug"
The following program compiles fine, but produces the error
[code]
at runtime when executed on `simple_switch`:
[code]

[2016-11-04 22:31] smolkaj opened #134 "[bmv2] conditional invocation of Checksum16 not handled yet"
There is a curious bug (or, case not handled yet) in the `bmv2` backend. Compiling the program
[code]

fails with the exception
[code]
However, the following code *does* compile:
[code]
I assume this is just a transformation that's not implemented yet. Of course, an easy workaround is to perform it by hand.

[2016-11-05 00:03] smolkaj opened #136 "action inlining bug"
There seems to be a bug related to inlining control blocks. I get the error
[code]
when trying to compile the program
[code]

[2016-11-05 00:13] smolkaj opened #137 "[bmv2] conditional execution + negation"
Invoking a table inside the condition of a `if-then` statement leads to the following error:
[code]
Here is a minimal example:
[code]

Interestingly, there is no problem when removing the logical negation `!`.

[2016-11-05 00:36] smolkaj opened #138 "lenient treatment of garbage properties"
Currently it's possible to specify arbitrary table properties, without provoking a compiler error:
[code]
Is this intended behavior, to allow the backend to use these properties? If so, at the very least I would expect a warning from the backend in case it does not understand a property. I'm concerned that this will otherwise be a source of very hard-to-find bugs:
[code]

[2016-11-08 19:52] jnfoster opened #140 "another parser bug"
Compiling the following program,
[code]
produces an error:
[code]

But if I rename the local variable `counter` to something else, it works fine:
[code]
Should the parser update `structure` when a new variable is declared? It currently doesn't:
[code]

[2016-11-08 19:56] jnfoster opened #141 "can't use verify in parser"
If I try to invoke `verify` (a built-in function whose type is currently defined in `core.p4`), in the parser using the bmv2 backend,
[code]
I get an error in the JSON converter:
[code]
The culprit seems to be that the implementation of `JsonConverter::convertParserStatement` is incomplete:
https://github.com/p4lang/p4c/blob/master/backends/bmv2/jsonconverter.cpp#L2111

[2016-11-10 18:19] #137 closed, assigned to nobody

[2016-11-10 18:20] #136 closed, assigned to nobody

[2016-11-10 18:26] #133 closed, assigned to nobody

[2016-11-10 18:27] #130 closed, assigned to nobody

[2016-11-10 18:35] smolkaj opened #144 "[bmv2] Type is not convertible to string (inlininer bug?)"
The following program compiles fine, but `simple_switch` raises the error
[code]
at runtime:
[code]
The error disappears after inlining `aux` into `IngressI` by hand.

[2016-11-10 18:56] smolkaj opened #145 "runtime error: Json::Value::operator[](char const*)const: requires objectValue"
The following program compiles fine, but `simple_switch` raises the error
[code]
at runtime:
[code]

[2016-11-10 21:59] vikramnathan opened #146 "Invoking register's read() method compiles, but bmv2 fails to parse JSON"
In the attached p4 file, I'm invoking the register `read` function declared at v1model.p4:74 as follows:
[code]
This compiles using the `p4-bm2-ss` binary but fails when run on the simple switch target:
[code]
I've also attached `test.json` for reference.

However, when I comment out `keys.read(k, 32w1)` or use `keys.write(32k1, k)` instead, `simple_switch` appears to be able to parse the JSON, ge

[2016-11-11 06:28] #146 closed, assigned to nobody

[2016-11-14 23:38] vikramnathan opened #148 "[bmv2] Incorrect behavior when assigning to bitvector slice"
[Using P4-16] Assigning to a bitvector slice produces an incorrect result when run on bmv2.

To reproduce:
[code]
Send a single packet through the switch. From the thrift CLI, run
[code]
Expected: 15 ( = 0b00001111).

I'm attaching the source file for reference, which is a barebones switch containing the above snippet.
[basic.p4.txt](https://github.com/p4lang/behavioral-model/files/590753/basic.p4

[2016-11-17 01:36] jnfoster opened #150 "`p4c-ss-bmv2` generates loop"
The following program should be rejected as it contains a loop, however `p4c-ss-bmv2` accepts it and generates a JSON output in which `t` occurs twice.

[code]

-N

[2016-11-18 00:03] mbudiu-vmw opened #151 "def-use analysis uses too much memory"

[2016-11-18 00:04] mihaibudiu opened #152 "Inlining generates too many temporaries"

[2016-11-18 21:30] #125 closed, assigned to nobody

[2016-11-18 21:31] #140 closed, assigned to nobody

[2016-11-29 00:03] #145 closed, assigned to nobody

[2016-11-29 00:04] #144 closed, assigned to nobody

[2016-11-29 00:06] #138 closed, assigned to nobody

[2016-11-29 00:39] smolkaj opened #158 "[bmv2] inlining + header stack broken"
The following program compiles with the bmv2 backend, but throws the error
[code]
at runtime when executed on `simple_switch`:
[158.p4.txt](https://github.com/p4lang/p4c/files/617845/158.p4.txt)
[code]

[2016-12-02 17:11] #152 closed, assigned to nobody

[2016-12-02 17:11] #131 closed, assigned to nobody

[2016-12-02 17:16] #25 closed, assigned to nobody

[2016-12-02 17:16] #26 closed, assigned to nobody

[2016-12-02 18:42] rhalstea opened #160 "should SideEffectOrdering be part of the front-end?"
As an example say I have the following code in an action:
[code]

After the SideEffectOrdering pass executes this code gets translated to something like:
[code]

I'm implementing an FPGA back-end, and at least for what I'm doing it easier to reason about the first case. So I was curious about the decision to make SideEffectOrdering a FrontEnd pass. Would it make more sense as MidEnd Pass since dif

[2016-12-03 00:33] #160 closed, assigned to nobody

[2016-12-06 16:37] mihaibudiu opened #164 "default_action syntax does not conform to spec"
The spec has changed to require all arguments for the default_action. The implementation has not.

[2016-12-06 23:18] mbudiu-vmw opened #166 "Illegal header stack operations"
The new spec forbids some header stack operations within a parser, and forbids other operations within a control.

[2016-12-07 19:08] sethfowler opened #167 "Consider updating minimum compiler versions to allow usage of C++14 features"
C++14 adds a number of features that make it easier to write code that's clean, maintainable, and bug-free. The only problem: our current minimum GCC version is 4.8, which doesn't support most C++14 features.

GCC 5 and Clang 3.4 have complete support for C++14. On the GCC side, a majority of features are supported in GCC 4.9, though it seems to me that if we're bumping our supported compiler vers

[2016-12-08 22:27] jnfoster opened #172 "Compiler Bug in jsonconverter.cpp"
The following legal P4-16 program crashes on the Bmv2 backend:

[code]

[2016-12-09 00:32] #164 closed, assigned to nobody

[2016-12-12 18:00] mihaibudiu opened #178 "Calling tables from actions"
Compiler (and spec) should forbid invoking tables from actions.

[2016-12-13 17:05] #178 closed, assigned to nobody

[2016-12-13 22:14] cole-barefoot opened #185 "SEGFAULT in p4c-bm2-ss (P4::CallGraph<...>::strongConnect)"
Attempting to compile the attached P4_14 program with `p4c-bm2-ss` results in a SEGFAULT.

Program: [repeater.txt](https://github.com/p4lang/p4c/files/650316/repeater.txt)

Command:
[code]

Stack trace:
[code]

[2016-12-14 17:46] jnfoster opened #187 "Segmentation fault with recursive control flow"
The attached program uses a recursive control flow (guarded by a `hit` block). This should be illegal, but the compiler crashes with a segmentation fault.

[recurse.p4.txt](https://github.com/p4lang/p4c/files/652418/recurse.p4.txt)

[2016-12-14 17:59] #150 closed, assigned to jnfoster

[2016-12-14 18:01] #141 closed, assigned to jnfoster

[2016-12-16 00:30] mbudiu-vmw opened #192 "There is no 'make install'"

[2016-12-18 11:36] wangxiaoge opened #195 "Missing GC library"
When I ran ./bootstrap.sh, There was an error 'missing GC library'. I don't know what steps have I missed? Could you give me some guidance？

[2016-12-18 18:15] mbudiu-vmw commented on #195
The software required for building is described in docs/README.md.

[2016-12-20 17:42] rhalstea opened #197 "removing unused passes"
After removing a .cpp and .h file for an unneeded pass I try to recompile and get a "No such file or directory" error. It looks like one of the ```unified-sources-<backend>-<n>.cpp``` doesn't get rid of the removed files.

Is there a better way to handle this than deleting the build folder, and rebuilding from scratch?

[2016-12-20 18:11] mbudiu-vmw commented on #166
The spec for header stacks has been changed again; the compiler is still not compliant:
- empty, and full have been removed
- the semantics of .last and .next has been changed
- a new field lastIndex has been added

[2016-12-20 19:11] rhalstea commented on #197
I did some background reading about unit builds and this is one of the common disadvantages traded off for faster builds.

I'm still curious if there is a way to rebuild without deleting the build folder, or does bootstrap always have to be run in this case?

[2016-12-20 19:47] ChrisDodd commented on #197
Just rerunning bootstrap.sh should be enough to regenerate the Makefiles in this case -- its not necessary to actually delete the entire build directory.  Part of the problem is that bootstrap.sh is generating a couple of .am files that automake then processes; we have no rules in the Makefile to regenerate those files if something changes; we should look into doing that.

[2016-12-20 20:08] rhalstea opened #199 "SimplifyDefUse throws a Compiler Bug when accept state is unreachable"
[no_accpet.txt](https://github.com/p4lang/p4c/files/664627/no_accpet.txt) causes the front-end to fail in SimplifyDefUse:
[code]

[2016-12-20 20:10] sethfowler commented on #197
Yep. As I understand it from my discussion with Chris, automake adds rules to the output Makefile that trigger regeneration of the Makefile if one of the automake input files (Makefile.am etc) changes. We just need to detect this case and rerun the program that generates unified-compilation.am before automake is rerun. I'd expect that to be a straightforward matter of adding an additional make rul

[2016-12-20 21:07] mbudiu-vmw commented on #195
The #198 pull request moves the section describing the required software dependences into README.md (from docs/README.md). The GC library is described there.

[2016-12-21 02:47] sethfowler commented on #197
FWIW, I have patches that implement this, but I can't push them to Github because there's an issue with my fork of the p4c repository. I've contacted them and I'm hoping that'll get straightened out by tomorrow.

[2016-12-21 15:46] #120 closed

[2016-12-21 15:47] #119 closed

[2016-12-21 16:08] rhalstea commented on #197
Thanks.

Is your fork "temporarally unavailable" on GitHub? I had the same issue when p4lang/p4c.git went public. I contacted them, but they couldn't give a time estimate for the fix. After a day I just deleted the repo and re-forked it which seemed to work.

[2016-12-21 16:15] #199 closed

[2016-12-21 18:00] sethfowler commented on #197
Yeah, that's my problem! That's a good idea; I'll delete and refork.

[2016-12-21 21:15] vikramnathan commented on #148
Verified as fixed.

[2016-12-21 21:15] #148 closed

[2016-12-22 17:32] #197 closed

[2016-12-22 17:50] sethfowler opened #203 "Avoid full rebuilds when small changes are made to automake files"
See #202 for the context. We should implement Chris's suggestion:

"modify gen-unified-sources.py to detect when the output .cpp file already exists and is unchanged and don't actually touch it. That way single file additions/removals won't need to rebuild everything."

[2016-12-22 18:44] mbudiu-vmw opened #204 "configuring options to select built back-ends"
configure should have options to select which back-ends should be built.
If someone does not need a back-end they should be able to avoid installing all required dependences.

[2016-12-22 23:43] vikramnathan opened #207 "[bmv2] BMV2 does not support conditionals in actions"
I have a very simple p4 program (attached) containing an action that uses an if statement. When compiled for bmv2, I get the error:
`test_bug.p4(185): error: IfStatement: not yet supported on this target`
This happens whether I use a ternary operator or an if statement.

According to the p4_16 [grammar](https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/grammar.mdk#L461) and spec (section 14

[2016-12-23 00:03] sethfowler opened #208 "BMV2 does not support nested structs"
This code should work, but it causes the BMV2 backend to throw when it attempts to output JSON:

[code]

The exception is:

[code]

[2016-12-23 00:09] mbudiu-vmw commented on #208
This code is not syntactically correct, can you please submit a reproduction?
The back-end should support nested structs. However, the "hdr" parameter in the v1model.p4 is expected indeed to be a struct which contains just headers.

[2016-12-23 00:11] mbudiu-vmw commented on #208
Line 2016 is jsonconverter.cpp is an ::error statement, and not BUG, so you must be using an old version of the code.

[2016-12-23 00:16] mbudiu-vmw commented on #207
BMv2 is a framework which allows one to create multiple P4 simulators. The simple_switch simulator is one of these, and it was designed for P4-14 - it closely models the capabilities of the architecture described in the P4-14 (P4 v1.0) spec.

P4-16 is a language that can target multiple architectures. When you target the v1model.p4 architecture you are subject to its constraints; this architecture

[2016-12-23 00:17] sethfowler commented on #208
Yeah, it looks like there was a copy paste error. I've updated the code. While I was at it, I replaced `hdr` with something defined within the code snippet.

The restriction on the `hdr` parameter is indeed the issue.

I'm not using an old version of the code, but it seems the line has moved around somewhat because I've inserted some logging messages. https://github.com/p4lang/p4c/blob/master/back

[2016-12-23 00:23] mbudiu-vmw commented on #208
When I refresh this web page I see the same code as before.

[2016-12-23 00:25] sethfowler commented on #208
Try again, sorry.

[2016-12-23 00:57] mbudiu-vmw commented on #208
I have added a fix for this to my last PR.
Your program will be rejected with an error message instead of the compiler crashing.
The restriction is documented in v1mode.p4:

[code]

[2016-12-23 21:21] #166 closed

[2016-12-24 00:09] mbudiu-vmw opened #210 "[bug] SimplifyDefUse removes used assignments"
SimplifyDefUse needs to perform inter-procedural analysis for tables and actions:

[code]

[2016-12-28 00:44] sethfowler opened #212 "BMV2 JSON does not respect @name annotation for counters or meters"

[2016-12-28 03:35] SStriver opened #213 "Compilation error p4c with p4fpga back-end"
../extensions/c++/src/p4-fpga.cpp:110:17: error: no member named 'verbosity' in
      'FPGAOptions'
    if (options.verbosity > 0)
make error...

[2016-12-28 03:37] SStriver opened #214 "Compilation error p4c with p4fpga back-end"
../extensions/c++/src/midend.cpp:62:13: error: no matching constructor for
      initialization of 'P4::UniqueParameters'
        new P4::UniqueParameters(&refMap),
            ^                    ~~~~~~~
../frontends/p4/uniqueNames.h:131:7: note: candidate constructor (the implicit copy
      constructor) not viable: no known conversion from 'P4::ReferenceMap *' to
      'const P4::UniqueParamet

[2016-12-28 05:39] hanw commented on #213
@SStriver, please report this error to p4fpga repo. p4fpga is not maintained by p4.org

[2016-12-28 05:41] SStriver commented on #213
thank you!

[2016-12-28 05:43] #213 closed

[2016-12-29 00:11] sethfowler opened #215 "BMV2 backend generates no errors for table key expressions it can't handle"
The BMV2 backend is very limited in the kinds of expressions it can support for table keys. However, no error is generated if you use a table key expression it can't handle; the result is just silent failure, with the JSON containing a key which does not match the user's intentions.

An example of a key which silently fails is `key = { h.h.a + 1 : exact; }`.

We should be generating an error somew

[2017-01-02 22:38] #207 closed

[2017-01-02 23:14] vikramnathan opened #216 "[bmv2] Compiler Error: Could not find type for <Mux>"
I'm compiling this stripped-down p4 program using p4c-bm2-ss and get the following error:
[test_bug.p4.txt](https://github.com/p4lang/p4c/files/681484/test_bug.p4.txt)
[code]

The culprit is the action at line 72, even though it seems permissible based on my reading of the spec. The code works if I do any of the following:
1. Remove line 75
2. Assign a compile-time known value to sub on line 73, i

[2017-01-03 21:34] rhalstea opened #217 "Annotating extern functions"
Is their a way to annotate extern functions? I was looking around p4-parse.ypp and it didn't look like it. I also tried the following code (which seemed natural to me), but p4test gave me a syntax error.
[code]
Do I just have the syntax wrong?

I didn't see anywhere in the spec that this shouldn't be allowed, and externs are a place target specific annotations would be useful.

[2017-01-03 23:42] sethfowler commented on #172
I'm closing this because d5cb9ea seems to have fixed it. If that's not true, please reopen.

[2017-01-03 23:42] #172 closed

[2017-01-04 19:15] mbudiu-vmw commented on #217
Normally externs are part of the architectural description for your target.
So it is expected that normal P4 users cannot declare any new externs - after all, the back-end would not know what to do with them.

If you can make a case that annotations on externs do provide some value, then we can consider extending the grammar to accommodate them.

Given your example, why would you want to use a @na

[2017-01-04 20:59] mbudiu-vmw commented on #214
This issue should be filed with the p4fpga back-end, which is not part of this repository.

[2017-01-04 21:50] rhalstea commented on #217
I can see why some back-ends would want to restrict users from declaring externs. From an FPGA point-of-view though I'd like to use the externs as interface declarations that create holes in the switch pipeline. We'll write some of our own (i.e. checksums, hashes, etc.) with the relevant RTL that fills in the hole, but this can also be opened up to users who want to customize their own design (dif

[2017-01-04 22:02] mbudiu-vmw commented on #217
That makes sense: you consider externs as interface declarations, and you allow users to write new extern implementations. Then you have a linker stage which resolves them, so the compiler back-end does not need to know how to handle unknown externs. I will look into adding annotations for extern function and object declarations; I hope that the grammar will not cause any problems.

[2017-01-04 23:19] mbudiu-vmw commented on #215
Can you post an example where you think that the result is incorrect?

There is a pass called SimplifyKey which moves such expression from the key into assignments that precede the table invocation. There is a test case p4_16_samples/key-bmv2.p4 which illustrates how this is done, which seems to be correctly compiled. More concretely:

[code]

compiles into:

[code]

One problem that I see is that

[2017-01-04 23:47] mbudiu-vmw commented on #215
To solve the @name issue for keys we could adopt a convention on the naming of the keys in the output json; for example:

[code]

would generate the following name in JSON for this specific key field: `keys.c.t.tkey` (control c, table t, key tkey). This would be a scalar field named `c.t.tkey` in a metadata structure named `keys`.

[2017-01-04 23:53] mbudiu-vmw opened #219 "name annotations on table keys are ignored"
See a discussion in issue #215

[2017-01-05 01:19] SStriver commented on #214
@mbudiu-vmw thank you!

[2017-01-05 01:21] #214 closed

[2017-01-06 21:39] #210 closed

[2017-01-06 21:41] mbudiu-vmw commented on #217
You can now have annotations on extern objects and functions.
(I didn't add annotations on each extern method, but you may want that too.)

[2017-01-06 22:16] rhalstea opened #220 "Implicit reject transition when select expressions has no default"
In the CreateBuiltins pass an implicit transition to reject is inserted if there is no selectExpression. For completeness shouldn't this also be done if the SelectExpression has no default transition?

[2017-01-06 22:21] mbudiu-vmw commented on #220
The spec requires the error to be set to "NoMatch" in this case.
So the two are not equivalent. But maybe we can insert an extra state for this purpose:

[code]
becomes
[code]

[2017-01-06 22:46] rhalstea commented on #220
I see. That makes sense. I think the extra state would be useful then since a goal for the front-end is to enforce these type of cases.

[2017-01-06 23:12] rhalstea commented on #217
Thanks.

Having annotations at the object level is enough for my current needs. I'll close this for now, and reopen it later if I find a need for them around each method.

[2017-01-06 23:12] #217 closed

[2017-01-07 01:43] mbudiu-vmw commented on #220
I have created a mid-end pass called HandleNoMatch. The bmv2 backend does not use or need it, but it is part of the ebpf and p4test mid-ends. I will submit a pull request soon.

[2017-01-09 19:39] rhalstea commented on #220
thank you Mihai.

[2017-01-09 19:39] #220 closed

[2017-01-11 19:49] sethfowler opened #225 "Turn transformations that happen within the BMV2 JSON converter into passes"
During the process of BMV2 JSON generation, the JSON converter applies a number of transformations to IR. A few examples:

- `_valid` fields are added to header types. (This is used to implement `isValid()`).
- A `.drop` action is synthesized.
- Exit tables are synthesized for ingress and egress control blocks.
- The standard metadata struct type is effectively transformed into a header type, comp

[2017-01-11 21:22] mbudiu-vmw commented on #225
The pass is indeed rather complicated. It has grown "organically".

The bmv2 back-end does have a series of small lowering passes which attempt to make all changes that can be made at the IR level. There is also the ExpressionConverter pass which is invoked to convert expressions into JSON.

I don't think that the .drop action and the exit tables are used; they were part of an attempt to implement

[2017-01-11 21:32] sethfowler commented on #225
Ah yes, you're right about `_valid`. That's actually added on the PI end; it's implicit for all header types. (Which is why it also happens for standard metadata.)

It sounds like some of this stuff can ultimately just be removed, which is the best-case scenario. =) Should I write up a PR to remove the ".drop" action and the exit table stuff? That doesn't seem too hard, and it may be better to do

[2017-01-11 21:43] mbudiu-vmw commented on #225
I hope that there are no dependences on the .drop action and the exit tables, so it should not be too difficult to remove them.

The standard_metadata is actually defined in v1model.p4 and it is intended to model the P4-14 standard metadata. Logically it is a struct: it has no validity bit, and you cannot pass it to extract methods as an argument; even in P4-14 it is a header_type instantiated as

[2017-01-11 23:27] sethfowler commented on #225
The motivation here is that I've already written a big patch to add PI generation (a PR will be incoming soon) and I'm trying to figure out how to make the PI generation code "dumber" so it's not closely tied to the BMV2 backend. That's where the main simplification lies: in making the PI generation code as generic as possible. Removing some of this logic from the BMV2 JSON generator is just a sid

[2017-01-12 07:40] antoninbas commented on #225
I think that the observation that the "BMv2 JSON -> PI" pipeline is a limited one is pretty important here. While this pipeline works well enough for P4_14, it doesn't for P4_16 -see our discussion about using expressions as match keys.
For the specific issue of the standard metadata, would it help if the PI BMv2 JSON reader did not add the `_valid` field for metadata header types?

[2017-01-12 20:09] jnfoster opened #226 "compiler bug:"
Compiling the following program with p4c,
[code]
crashes with a sensible error message, then a core dump:
[code]

[2017-01-13 01:52] sethfowler commented on #225
It would help, yeah - things would be cleaner. To make things truly uniform, I think Mihai's right that we should just expose structs to PI. There would be no need to special-case metadata at all in that case. It would change how header instance fields are named, though. Let's say we have this setup:

[code]

Right now, because structs are ignored, the PI will contain a header instance field named

[2017-01-13 02:21] vikramnathan opened #230 "[bmv2] "Could not find declaration for cond""
I have the following P4-16 program:
[test_bug.p4.txt](https://github.com/p4lang/p4c/files/703371/test_bug.p4.txt)

This gives the following error when compiled with -vvv:
[code]
Note: there is no variable `cond` in my program. My guess is that this is something in the IR.

However, if I do any of the following, the program compiles:
1.  line 76 is changed from:
`
iszero = (key.field1 == 0) ? true

[2017-01-13 02:26] vikramnathan commented on #230
Apologies for closing and reopening. This is still a bug.

[2017-01-13 16:53] mbudiu-vmw commented on #225
The P4-16 spec has a section on naming:
http://p4.org/wp-content/uploads/2016/12/P4_16-prerelease-Dec_16.html#sec-cp-names
The p4c-bm2-ss compiler is not fully compliant itself. Maybe we should file an issue about this.

[2017-01-13 17:03] mbudiu-vmw commented on #230
I cannot reproduce this bug with the most recent version of the compiler.
The program compiles just fine for me.

[2017-01-13 18:36] sethfowler commented on #225
Thanks for the link! Though it doesn't directly address structs, I think that aligns with the approach outlined in my previous comment, so it seems that from a spec point of view we'd be in a good position to start making structs visible.

And yeah, we may as well make the rest of the code conform to the spec while we're at it. =)

[2017-01-13 19:20] mbudiu-vmw commented on #225
The spec does not say anything about structs because there is no assumption about the language used to express the API. This is also one reason that enums are tricky. But indeed, some user-defined P4 datatypes may have to exposed to the API.

[2017-01-14 00:17] sethfowler commented on #225
I wasn't proposing to make structs visible by expressing them as "structs" at the API level; rather, I just want to:

- Expose struct instance fields in the same way header instance fields are exposed now.
- Include structs in the fully qualified names of header instance fields in a consistent way.

This comment from earlier in the discussion gives some examples: https://github.com/p4lang/p4c/issu

[2017-01-14 00:27] mbudiu-vmw commented on #225
I don't know anything about how the API generation works now.

But in principle you only need to expose a type to the control-plane if it is needed. This implies that table key types and action argument types are required. If none of them is a struct then this problem does not arise. We could have the architecture forbid the use of these types for key fields or for action parameters.

There is als

[2017-01-14 00:44] sethfowler commented on #225
We need structs for metadata. I'd guess even unions and enums can be passed to actions, right?

And yeah, the issue of the control plane API for externs seems to keep coming up in every discussion. =)

[2017-01-14 18:47] vikramnathan commented on #230
You're correct - it does compile. My bad.

[2017-01-14 18:47] #230 closed

[2017-01-14 19:44] vikramnathan opened #231 "[bmv2] Unexpected JSON when using nested actions"
With the following p4 program:
[test_bug.p4.txt](https://github.com/p4lang/p4c/files/706174/test_bug.p4.txt)

I get the following error:
[code]

When I inline the `update` action instead, this works. What's the issue? Am I not allowed to conditionally invoke actions? Would also be nice to have a more helpful error message.
(I can add `same` as an argument and move the conditional into the `update`

[2017-01-14 21:06] vikramnathan opened #232 "[bmv2] Could not find type for <Mux>"
Note: I think this is a different bug than #216 since no bit slices are used here.

The following program:
[test_bug2.p4.txt](https://github.com/p4lang/p4c/files/706219/test_bug2.p4.txt)

gives me this error:
[code]
What does this error mean? Is it a compiler bug or program issue?

Some notes:
1. Removing the conditional on line 98 (but keeping the body) seems to compile.
2. If line 97 is replaced

[2017-01-15 00:22] mbudiu-vmw commented on #232
If you see COMPILER BUG it means this is a bug. You should not expect a very good error message from a compiler bug - something we didn't expect has happened.

[2017-01-18 22:37] vikramnathan opened #242 "[bmv2] Unexpected modification of variable's value"
Relevant code with debug "print" statements:
[code]
Expected output reading `debug` from CLI:
[code]
Observed output:
[code]
This seems to suggest that updating `val.field1` also updated `inc` and `_pred`, even though both were set several lines earlier. My hunch is that this is a compiler issue.

Source p4 and json:
[test_bug4.json.txt](https://github.com/p4lang/p4c/files/715222/test_bug4.json.tx

[2017-01-18 23:35] mbudiu-vmw commented on #242
@ChrisDodd: I think that this is a problem with the LocalCopyPropagation.
Code before LCP:

[code]

Code after LCP:

[code]

The issue seems to be that val.field1 is assigned to, but this does not invalidate inc, which does depend on val.field1.

[2017-01-20 10:28] jnfoster opened #246 "P4-14 converter and parallel actions"
The P4-14 spec states,

and gives the following example,
[code]
further clarifying that:

value 0.

However, if I compile this program
[code]
using the P4-14 to P4-16 converter, I get a result that does not execute correctly under sequential semantics:
[code]

[2017-01-20 16:32] ChrisDodd commented on #246
That's because we are following the v1.1 P4_14 spec which was revised to specify sequential semantics, in accordance with the existing implementations at the time.

[2017-01-20 16:40] mbudiu-vmw commented on #246
Unfortunately the P4 1.1 spec has been retired.
But this is a bug which I won't fix - the spec is just plain wrong (ambiguous).

[2017-01-20 17:01] jnfoster commented on #246
I don't know the past history. And yes, the spec is vague, but it gives
this very example and yet compiling with p4c gives a different answer.

-N

On Fri, Jan 20, 2017 at 8:40 AM, Mihai Budiu <notifications@github.com>
wrote:

[2017-01-20 23:57] mbudiu-vmw opened #249 "Incorrect handling of checksums"
Following program generates incorrect BMv2 checksums computations:

[code]

[2017-01-22 20:12] cc10512 commented on #246
We should consider carefully implementing a consistent behavior across different versions of the compiler. We can not afford to have the _same program_ compiled with the same compiler producing different results, even when the compilation goes through a translation from one semantics to another. At the least, the P4_14-> P4_16 converter should raise an error since the behavior changes. Thus, the P

[2017-01-23 17:30] mbudiu-vmw commented on #246
The main problem with the "parallel semantics" - assuming it was defined carefully - is language usability. I am willing to bet a tidy sum that people will hate using such a language. Moreover, there are lots of useful programs which simply cannot be written - especially if you only consider using the original P4-14 spec which had no support for arbitrary expressions. Third - programmers don't rea

[2017-01-23 18:26] jnfoster commented on #246
I agree this is low priority. I just want to get the spec and open-source
tools in order.

Maybe simplest would be to revise the P4-14 1.03 spec to eliminate the
discussion of parallel semantics.

-N

On Mon, Jan 23, 2017 at 9:31 AM, Mihai Budiu <notifications@github.com>
wrote:

[2017-01-23 18:43] chkim4142 commented on #246
+1 for changing the P4_14 v1.0.3 spec.

[2017-01-23 18:55] gbrebner commented on #246
+1 for revising the v1.0.3 spec.

[2017-01-24 16:49] mbudiu-vmw opened #255 "There are no STF tests for p4-16 programs using checksums"

[2017-01-25 19:21] nchallak commented on #28
As the backend now supports only programs written using ebpf_model.p4, it would be useful to include an example that is written using this model.

[2017-01-25 21:17] mbudiu-vmw commented on #28
There are three simple examples in testdata/p4_16_samples, they all end in _ebpf.p4. However, there is no test to ensure that the output produced (a C file) is correct.

[2017-01-25 23:36] nchallak commented on #28
Thanks. I will take a look at it.

[2017-01-26 02:05] smolkaj opened #259 "compiler transformations don't preserve names"
(For future reference @jnfoster @cc10512 @sethfowler @cole-barefoot)
Certain compiler transformations do not preserve names. As a result, the auto-generated APIs (pd/thrift/...) for a p4 program may refer to names that appear nowhere in the p4 source code.

I'm attaching a minimal [example](https://github.com/p4lang/p4c/files/731384/example.zip) for future reference. Here is the core of the issue:

[2017-01-26 16:48] mbudiu-vmw commented on #259
This is a very good point. We can fix this issue by reducing it to #219, by generating @name annotations.
However, this shows that we actually need some support from BMv2, because in P4-16 you can have multiple variables with the same name, and when we generate BMv2 code we *have* to give them different names.

So we have to work with @antoninbas to add support to the BMv2 JSON to give us the abil

[2017-01-26 18:18] sethfowler commented on #259
Yes, the same problem exists in PI.

[2017-01-27 17:23] junghongkao opened #262 "Add libtoolize before autoreconf -i in bootstrap.sh"
Such that it can avoid the following error
Running autoconf/configure tools
Unescaped left brace in regex is deprecated, passed through in regex; marked by <-- HERE in m/\${ <-- HERE ([^ \t=:+{}]+)}/ at /usr/local/bin/automake line 3936.
Makefile.am:35: error: Libtool library used but 'LIBTOOL' is undefined
Makefile.am:35:   The usual way to define 'LIBTOOL' is to add 'LT_INIT'
Makefile.am:35:   t

[2017-01-27 18:05] junghongkao commented on #262
Seth,

My development environment is ubuntu 16.04 with

jim@onie-server:~/sdb/p4c$ autoreconf -V
autoreconf (GNU Autoconf) 2.69
Copyright (C) 2012 Free Software Foundation, Inc.
License GPLv3+/Autoconf: GNU GPL version 3 or later
<http://gnu.org/licenses/gpl.html>, <http://gnu.org/licenses/exceptions.html

This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to

[2017-01-27 18:11] sethfowler commented on #262
Seems reasonable. Could you please submit a PR?

Note that `libtoolize` is known as `glibtoolize` on macOS, so you'll need to handle that case.

[2017-01-30 20:10] smolkaj opened #270 "[Compiler Bug] bmv2 checksum: not handled yet"
After updating `p4c`, I see the following bug when trying to compile a P4_16 version of switch.p4:
[code]
I'm attaching [checksum.p4](https://github.com/p4lang/p4c/files/740148/checksum.txt) for reference.

[2017-02-01 01:15] smolkaj commented on #270
👍 e92cff0 fixes the problem

[2017-02-01 01:50] smolkaj opened #272 "[bug/enhancement] boolean fields"
Currently, the compiler does not accept boolean metadata, and raises errors such as this one:
[code]
This seems like an arbitrary (and in practice, very annoying) restriction. Are there deeper reasons for this or is it just something that hasn't been implemented yet?
Boolean metadata is extremely common in switch.p4. It would be convenient to use `bool` rather than `bit<1>` for this purpose.

[2017-02-01 16:43] mbudiu-vmw commented on #272
There is no "metadata" in P4-16 really; there are just structs, and they can have boolean fields. The spec forbids boolean fields in headers, and the error message indicates that this is a header. However, the error is a BUG, so it looks like this header was somehow synthesized by the compiler internally. Can you post a some code to reproduce this error, please?

[2017-02-01 16:52] mbudiu-vmw commented on #272
This is actually easy to reproduce; it happens for a header with a bool field.
This is a bug; the compiler should just emit an error.
However, the question is whether we should allow boolean fields in headers. Most protocol specifications do not use booleans; headers are always expressed in bitstrings. So this issue should probably be filed first with the P4-16 spec.

[2017-02-01 19:46] smolkaj commented on #272
@mbudiu-vmw: I opened an issue in p4-spec as you suggested, see p4lang/p4-spec#123. I cannot think of any good reasons to disallow booleans in header fields, but let's discuss there.

[2017-02-02 02:46] smolkaj commented on #272
@mbudiu-vmw: Actually, it seems that structs cannot have boolean fields. I get the error
[code]
when trying to compile
[code]

[2017-02-02 22:10] junghongkao commented on #262
Seth,

Can you review the PR I have submitted ?

Jim

[2017-02-02 22:30] vikramnathan commented on #232
seems to be fixed.

[2017-02-02 22:30] #232 closed

[2017-02-02 22:33] #231 closed

[2017-02-02 22:34] #216 closed

[2017-02-02 22:34] ChrisDodd commented on #192
Implemented with 1d8d579d2264e24e63bb0c78c1c21bf846cfac3f

[2017-02-02 22:34] #192 closed

[2017-02-02 22:35] #195 closed

[2017-02-02 22:38] ChrisDodd commented on #262
You need to make the pull request into p4lang/p4c:master

[2017-02-02 23:16] jnfoster commented on #226
Just pulled and verified that this is fixed. Thanks @ChrisDodd!

[2017-02-02 23:16] #226 closed

[2017-02-03 01:13] #262 closed

[2017-02-03 01:16] #249 closed

[2017-02-03 01:41] jnfoster opened #281 "[Compiler Bug]"
[code]
Running the frontend on this program (i.e., `p4test`) halts with a compiler bug:
[code]

[2017-02-03 16:33] smolkaj commented on #272
Great, this is fixed 👍

[2017-02-03 16:33] #272 closed

[2017-02-03 16:35] #270 closed

[2017-02-04 02:06] mbudiu-vmw opened #284 "protobuf should be a dependency of the bmv2 back-end"
The code to check for protobuf should be in backends/bmv2/addconfig.ac.

The dependency should be described in backends/bmv2/README.md

Today we don't have a way to skip back-ends, but if we had one, we should not require protobuf if we don't compile the bmv2 back-end. It would be nice to be able to compile without protobuf if it is not needed.

[2017-02-04 02:08] sethfowler commented on #284
The P4Runtime stuff isn't intended to be specific to BMV2. It depends on BMV2 now, but we want to move away from that. For that reason, it probably wouldn't make sense to make this change.

[2017-02-04 02:08] #284 closed

[2017-02-04 02:08] mbudiu-vmw commented on #284
Neither the EBPF back-end and the p4test back-end need this feature.

[2017-02-04 02:08] mbudiu-vmw commented on #284
The EBPF back-end has a completely different way to communicate with the control plane - it uses EBPF tables.

[2017-02-04 02:10] sethfowler commented on #284
That's not really the point, though. Like everything else in libfrontend, this is a generic feature that is provided for use by all backends that want to take advantage of it. It's fine if some backends choose not to use it, but the idea is that many backends will.

[2017-02-04 02:11] mbudiu-vmw commented on #284
I don't think that this issue should be closed.
We should not take a dependency on a large piece of code if it unneeded.
This is really about how the control-plane interacts with the data-plane. This is VERY target-dependent.

[2017-02-04 02:18] sethfowler commented on #284
P4Runtime is not supposed to be tied to a specific target, and there are targets besides BMV2 which will be getting support for it. That means that we can't really make the protobuf dependency BMV2-specific. I'm sorry. =(

[2017-02-04 02:30] sethfowler commented on #284
One additional note is that having protobuf as a dependency probably won't feel nearly as onerous once we are able to use the version that package managers are shipping. We're actively working towards that. In the near future you'll just be able to type `sudo apt-get install protobuf` and the rest will be done for you.

[2017-02-04 04:18] antoninbas commented on #284
I think you are both kind of right. The PI is meant to be target-independent and any P4-programmable target is supposed to be controllable by the PI. I imagine the PI could very well be implemented for the eBPF backend.
On the other hand, I imagine it would be possible to conditionally build the P4Runtime serializer based on whether or not protobuf is detected, if there were a strong desire to do

[2017-02-09 18:14] rhalstea opened #289 "the ParsersUnroll pass throws "not calling apply properly""
It looks like the ParserUnroll pass broke when PassManager::apply_visitor() was updated a few weeks ago.

I was also curious about its purpose. I assume it unrolls self referencing ParserStates for things like header stacks. Is that basically it, or does it encompass more?

[2017-02-09 18:22] mbudiu-vmw commented on #289
This pass is commented-out in all mid-ends; it's original implementation was turning each parse graph into a DAG, but we realized that this does not scale if the parse graph has nested loops - it can generate parse graphs with millions of states. A different approach is needed, but the ideal choice depends on the target constraints. For example, if a target does not support loops, you need to gene

[2017-02-09 18:33] antoninbas opened #291 "p4RuntimeSerializer does not support stack field references in match keys"
The attached program produces the following output:
[code]
[stack_ref.p4.txt](https://github.com/p4lang/p4c/files/764634/stack_ref.p4.txt)

[2017-02-09 18:33] antoninbas commented on #291
To observe this output, this fix is needed: https://github.com/p4lang/p4c/pull/290. Otherwise the compiler crashes.

[2017-02-09 21:33] sethfowler commented on #291
This is a known problem; header stack references in match keys were something I left for future work in an effort to get p4RuntimeSerializer merged more quickly. I'll cook up a patch.

[2017-02-09 21:39] sethfowler commented on #291
That error should also refer to `stack[0].f0` rather than `[].f0`. I'll see if I can't fix that, too, though it's not immediately obvious to me why it's happening.

[2017-02-09 22:11] mbudiu-vmw commented on #291
In P4-16 array indexes do not have to be constant values.
If you just use the toString on an array index expression it will skip the index.

[2017-02-09 22:12] sethfowler commented on #291
And that's what `::error()` is using internally?

[2017-02-09 22:13] mbudiu-vmw commented on #291
Yes, ::error calls toString.
BUG calls dbprint
This is documented in the powerpoint in docs/.

[2017-02-09 22:16] sethfowler commented on #291
OK. So I suppose this is a general problem with any compiler error we report involving a header stack, then. Should we change `toString()`'s behavior to print the index expression, or is there a reason to prefer the current behavior?

[2017-02-09 22:27] ChrisDodd commented on #291
Arguably the default Expression::toString() method should just call dbprint
into stringbuffer and return the resulting string.

We kind-of have the convertion that dbprint is for logging while toString
is for error messages, so in general dbprint might include compiler
internal info that would be confusing to end-users, but at least as far as
expressions are concerned, dbprint just prints the expr

[2017-02-09 22:28] mbudiu-vmw commented on #291
This is a problem of usability; if the index expression is complex the error message may be more obscure.
dbprint prints compiler internals, we cannot use that for user errors.

[2017-02-09 22:29] sethfowler commented on #291
The consequence of the current approach is that errors messages refer to code that isn't valid P4 and doesn't actually appear in the program anywhere, though. =\

[2017-02-09 22:33] mbudiu-vmw commented on #291
If the error refers to an IR node with source position the source code will be quoted exactly.
The rest of the error message should be as informative to the human as possible.

[2017-02-10 01:19] sethfowler commented on #291
It sounds like it would be simplest not to address that issue as part of this PR. =)

[2017-02-10 02:48] #212 closed

[2017-02-10 16:30] mbudiu-vmw commented on #187
Is there a reproduction we can use to diagnose this reopened issue?
The recurse.p4 test is handled correctly. Unfortunately the test is not in the testsuite due to issue #96: we actually don't have negative tests for p4-14 programs.

[2017-02-10 20:03] #291 closed

[2017-02-11 01:59] sethfowler opened #297 "Declaring an action profile as a control local crashes the BMV2 backend"
In #296 there was discussion of the fact that a table's `implementation` property could refer to a `Declaration_Instance`. The attached file is a modified version of an existing test case, `action_profile-bmv2.p4`, which declares an action profile as a control local. It crashes the BMV2 backend with this message:

[code]

Note that even ignoring the crash, the error `implementation: expected const

[2017-02-12 20:36] tudang opened #298 "[Compiler Bug] 'std::out_of_range'"
The program `test.p4` is compiled successfully without any errors or warnings. However, running bmv2 give me the following error:

[code]

[code]

[2017-02-12 21:41] mbudiu-vmw commented on #298
The bug is caused by the @name annotation on some struct fields; in particular, the local_metadata field of the metadata struct has an annotation @name("ingress_metadata"). The compiler mistakenly uses in the output json file both names (local_metadata and ingress_metadata) - depending on context. If you remove the annotation the program will load correctly.

Maybe you can remove the annotation un

[2017-02-14 20:48] sethfowler opened #302 "Add helper functions to get info about the extern referenced by a Declaration_Instance"
While writing some code related to the P4Runtime serializer, I found myself wanting to assert that a `Declaration_Instance` was an instance of a certain extern (say, `direct_meter`).

The code required to make this check is surprisingly complicated. From memory, I believe the situation is that a `Declaration_Instance` has a type of `Type_Specialized`, representing a generic type which has been ins

[2017-02-14 21:12] mbudiu-vmw commented on #302
You should be able to do typeMap->getType(baseType) as well to skip a step.
What C++ is missing is the ability to do nice pattern matching like ML.

[2017-02-14 21:14] sethfowler commented on #302
Couldn't agree more. Once you get used to pattern matching it's hard to return to a language that doesn't have it. The C++ standards committee is working towards some form of pattern matching in C++, although I've been lukewarm on the drafts I've seen so far, but we may have something along those lines in C++20.

[2017-02-14 22:42] rhalstea opened #303 "should visitDagOnce be set to false for ClonePathExpressions?"
I was doing some unrolling for header stack elements when I noticed ClonePathExpressions won't clone duplicated IR::PathExpressions. Is this intentional?

[2017-02-14 22:45] mbudiu-vmw commented on #303
This looks like a bug indeed.
Feel free to submit a pull request fixing it.

[2017-02-15 02:28] hanw opened #304 "error message contains variable names that do not exist in source program."
../extensions/p4_tests/p4_16/mdp.p4(220): warning: index1 may be uninitialized
        way1.apply(index1, m, result1);
                   ^^^^^^
../extensions/p4_tests/p4_16/mdp.p4(221): warning: index2 may be uninitialized
        way2.apply(index2, m, result2);
                   ^^^^^^
../extensions/p4_tests/p4_16/mdp.p4(222): warning: index3 may be uninitialized
        way3.apply(index3, m, r

[2017-02-15 02:28] hanw commented on #304
tmp_5 is a variable name that does not exist in source program.

[2017-02-15 02:37] mbudiu-vmw commented on #304
Can you supply a p4 program to reproduce this issue?

[2017-02-15 02:41] hanw commented on #304
[code]

[2017-02-15 02:41] hanw commented on #304
Sorry, it is a rather long example.

[2017-02-15 06:23] jnfoster opened #306 "Compiler BUG: Exiting with SIGSEGV"
Running the following program (which has several genuine errors) through the front-end triggers a compiler bug.

[code]

[2017-02-15 17:44] #303 closed

[2017-02-15 19:41] antoninbas opened #308 "serializer replicates action with same name and same id"
With this P4 program"
[code]

Action `c1.a1` appears twice in the list of actions. It should only appear once:
[code]

I am running the lastest `p4c-bm2-ss` with the following options:
`./build/p4c-bm2-ss --p4-14 action_replication.p4 --p4runtime-as-json --p4runtime-file p4info.json`

[2017-02-15 20:00] antoninbas opened #309 "serializer "introduces" compiler names"
I am putting introduces in quotation marks because I know these are introduced by some pass before the p4runtime serializer.
Consider the following P4_14 program:
[code]
The p4runtime serializer produces the following output for actions:
[code]

`NoAction_1` is not a P4 name. Because of this the control plane shouldn't be able to see this "default-default" action at all. I believe it should be rem

[2017-02-15 22:02] mbudiu-vmw commented on #308
The compiler actually does replicate action a1, once for each table that uses it; unfortunately it uses the same @name annotation for both, because the annotation preserves the original name. Logically these actions should be named based on the table that uses them, c1.t1.a1 and c1.t2.a1.

[2017-02-15 22:04] mbudiu-vmw commented on #309
Actually NoAction is from core.p4, it corresponds to the noop primitive action from p4-16.
(NoAction_1 is just a clone of NoAction; it should probably have a @name("NoAction") annotation).

[2017-02-15 22:11] antoninbas commented on #308
In the p4runtime case, ideally it would show up as a single action `c1.a1`, just like it does in the bmv2 JSON.

[2017-02-15 22:19] antoninbas opened #311 "Add support for direct meters and direct counters in p4RuntimeSerializer"
opening this issue to keep track of progress on this

[2017-02-15 22:20] sethfowler commented on #311
I have a patch for this partially implemented.

[2017-02-15 22:22] sethfowler commented on #309
Yeah, we'll have to `@name` all the things, as they say.

I'd like to avoid hardcoding things into p4RuntimeSerializer. If there's a need to not expose certain names from `core.p4` or `v1model.p4`, we can add an annotation that expresses that.

[2017-02-15 22:25] sethfowler commented on #308
We can deduplicate this stuff in the serializer code in the short term. In the long term it would be much better to ensure that the names that the compiler generates are unique, and then assert in p4RuntimeSerializer that there are no duplicates. As Mihai says, logically these actions should be named in such a way as to reflect the hierarchical structure of the program.

[2017-02-15 22:33] antoninbas commented on #308
Given the current P4_16 syntax, I am having trouble seeing why "logically" the table name should appear in the full action name. But I imagine that in a future version, a table could bind differently to a given action multiple times, in which case a local name may be needed for each binding.

[2017-02-15 22:35] sethfowler commented on #308
Yeah, there are discussions about doing exactly that.

[2017-02-15 22:38] mbudiu-vmw commented on #308
The reason the compiler replicates an action once for each table is that it is then ready to apply different optimizations to the actions in each table. Today we don't have any such optimizations, but this may be necessary. In particular, we talked about the ability to do code motion between different actions from different tables.

So the action name is only important for the control-plane really

[2017-02-15 22:42] sethfowler commented on #308
I suspect we'll have to revisit this after P4-16 is finalized.

For now, I can write a patch to deduplicate actions at serialization time.

[2017-02-15 22:44] mbudiu-vmw commented on #308
There are two different actions in JSON. You should not deduplicate them.
The bug is that the @name annotation for these two actions is the same.

[2017-02-15 22:47] sethfowler commented on #308
OK. That suggests that we should introduce the table name into the @name of the actions, then, as you suggested.

@antoninbas, will that work for you?

I consider either solution a temporary measure, since the way names are assigned to these actions is something that may be revisited in the P4-16 spec before it's finalized.

[2017-02-15 22:48] mbudiu-vmw commented on #308
The control-plane naming isn't really in the scope of the P4 spec; there is a separate working group for the API. The spec does have a section about it, though.

[2017-02-15 22:48] sethfowler commented on #308
It's in scope insofar as we may introduce new syntax to clarify the naming.

[2017-02-15 22:49] mbudiu-vmw commented on #308
The fix belongs to the LocalizeAllActions pass.

[2017-02-15 22:49] sethfowler commented on #308
Thanks.

[2017-02-15 22:55] mbudiu-vmw commented on #308
Another issue to consider is that we allow actions to be called directly by controls or other actions.
For the bmv2 target the compiler will inline the latter and will create "special" tables for the former.
These tables should not be exposed to the control plane, since their content should never be changed after initialization.

[2017-02-15 23:18] antoninbas commented on #308
The control plane wants to operate on information that matches the original P4 program. Whether the compiler creates multiple copies of the action because of table-specific optimizations or something else is somewhat irrelevant to this.
@sethfowler so no, this doesn't really work for me. If the action is declared inside control `c1`, the name should be `c1.a1`, not `c1.<tname>.a1`. When I add an e

[2017-02-15 23:24] mbudiu-vmw commented on #308
If one copy is removed it is probably a bug somewhere. The IR has two actions inside.
The unpleasant thing is that these actions have the same @name annotation.
Today they have the same body too, but that's an accident.

[2017-02-15 23:26] mbudiu-vmw commented on #308
My JSON has two copies of c1.a1, with ids 0 and 1.

[2017-02-15 23:29] mbudiu-vmw commented on #308
The way this is done in JSON is through the list of action_ids for a table; that's how the table disambiguates the actions even if they have the same name.

[2017-02-15 23:30] mbudiu-vmw commented on #308
OK, so then I will assume we don't have a bug in the LocalizeAllActions; it generates names as @antoninbas describes.

[2017-02-15 23:31] antoninbas commented on #308
@mbudiu-vmw my bad I didn't scroll until the end of the action list, I see them both now...

[2017-02-16 23:53] sethfowler commented on #302
FWIW, you actually have to use `typeMap->getTypeType()`, because `typeMap->getType()` returns a `Type_Type`.

[2017-02-17 20:53] rhalstea opened #313 "LocalCopyPropogation on Stacks"
The following code:
[code]
gets transformed by LocalCopyPropogation into:
[code]
As I understand it pop_front() will update the data at index 0 so the two are not logically equivalent.

[stack1.txt](https://github.com/p4lang/p4c/files/784269/stack1.txt)

generated with p4test:
[stack1-MidEnd_25_ConstantFolding.txt](https://github.com/p4lang/p4c/files/784270/stack1-MidEnd_25_ConstantFolding.txt)
[s

[2017-02-17 21:05] rhalstea opened #314 "Compiler Bug: def_use.cpp when using lastIndex"
the attached file causes the front-end to fail with the following message:
[code]
[stack2.txt](https://github.com/p4lang/p4c/files/784300/stack2.txt)

[2017-02-18 01:48] sethfowler commented on #304
A fix for this issue was landed; closing.

[2017-02-18 01:48] #304 closed

[2017-02-18 01:49] sethfowler commented on #298
A fix for this issue was landed; closing.

[2017-02-18 01:49] #298 closed

[2017-02-18 02:51] #308 closed

[2017-02-21 18:26] #158 closed

[2017-02-21 21:36] #302 closed

[2017-02-21 21:36] #311 closed

[2017-02-22 00:56] antoninbas opened #321 "bmv2 backend does not produce correct JSON for "advanced" header stack usage"
The bmv2 backend produces an invalid JSON for the attached P4_16 program. bmv2 crashes when the produces JSON is loaded.
Recent additions to bmv2 mean that this P4_16 program is now supported. See https://github.com/p4lang/behavioral-model/pull/292/files#diff-418314966c57fea403ba29bf6b0793c7.
Specifically the following expression is not translated properly: `m.offset + h.hs.last.f2`.
The JSON shou

[2017-02-22 01:03] #314 closed

[2017-02-22 02:26] antoninbas opened #323 "Duplicate declaration error when invoking action from control multiple times"
The attached P4_16 program gives the following error in the frontend:
[code]
but I believe this is a valid program.

[dup.p4.txt](https://github.com/p4lang/p4c/files/792068/dup.p4.txt)

[2017-02-22 03:34] mbudiu-vmw commented on #309
If this solves this particular problem, please do.
(I am on vacation this week.)

[2017-02-22 20:19] sethfowler commented on #309
@antoninbas, #325 eliminates the excessive number of copies of `NoAction`. Thanks for taking care of that.

The next step is probably to detect `NoAction` in the serialization code and set the table's `const_default_action_id` to 0, right? As I mentioned in an earlier comment, for other similar cases we probably want to use annotations, but I think for this specific case we need some special handl

[2017-02-22 21:30] antoninbas commented on #309
The only case when `const_default_action_id` is non-0 is if the default action cannot be changed at runtime. In P4_14 this is done by specifying a `default_action` which is not in the `actions` list. In P4_16 this seems to be done by marking the default action as `const`. Note that I consider that even if `const_default_action_id` is non-0, the action data can be updated at runtime. In P4_16, it s

[2017-02-22 21:35] sethfowler commented on #309
Hmm, OK. So if the default action is not const, it's not exposed in P4Info? I guess this makes sense - in that situation, the default action is pretty much just specifying the initial state of the table, so it should be exposed via the PI functions that get and set table state.

That means I'm not handling default actions correctly, though. I realize now that I'm currently exposing *any* default a

[2017-02-22 21:35] antoninbas commented on #309
@sethfowler Yes `const_default_action_id` should probably be set to 0 when the default action was added by the compiler.
One question: do you know if in P4_16 there is a way to set a constant default action but allow the action data to be changed at runtime (which is what `const_default_action_id` is meant to indicate)? It seems to be that in some case P4 programmers want to guarantee const action

[2017-02-22 21:44] sethfowler commented on #309
@antoninbas So here's what the P4-16 spec has to say:

[code]

The "control-plane bound parameters" here are the action data, so it sounds like the spec requires const action data. It sounds like it would be straightforward, syntactically at least, to permit the action data to be bound at runtime - the programmer could just not supply arguments for the control-plane bound parameters in the default

[2017-02-22 21:55] antoninbas commented on #309
IIRC in P4_14 you can do just that: `default_action : action_with_1_arg;`, as opposed to `default_action : action_with_1_arg(0);`. The problem is that P4_16 states that the behavior is undefined until the control plane actually provides action data. And it seems weird to provide "initial" action data that can be changed at runtime...
Anyway maybe we digress a little, for now I believe that `const_

[2017-02-22 22:16] #313 closed

[2017-02-23 01:13] sethfowler commented on #309
I went ahead and implemented the approach you proposed; the patch is in #326.

Are there more compiler names we need to fix, or can we close this issue once #326 lands?

[2017-02-23 01:17] antoninbas commented on #309
@sethfowler You can go ahead and close once #326 is merged

[2017-02-23 01:51] mbudiu-vmw commented on #309
Check out the @defaultonly annotation in the spec.

[2017-02-24 03:01] #309 closed

[2017-02-25 00:29] jnfoster commented on #306
The error messages are a little chatty and redundant...

[code]

I'm happy to merge this, but is it intentional to report the error on line 14 three times, or the fact that the type of `p.stack` and `p.stack.last` cannot be found?

[2017-02-25 00:30] jnfoster commented on #281
Looks good.

[2017-02-25 00:30] #281 closed

[2017-02-27 02:40] mbudiu-vmw commented on #306
The error is not on line 14, line 14 contains a struct which is referenced several times in different error messages, so it is shown every time.

In general, we can either stop at the first error, or we can try to continue compilation, and then you have such cascaded errors. We can also try to code some heuristics to avoid such cascaded errors, but I think that currently our efforts are best spent

[2017-02-27 17:31] jnfoster commented on #306
Sure. I'm happy to close this issue and punt cleaner error reporting.

[2017-02-27 17:31] #306 closed

[2017-02-27 19:13] antoninbas commented on #323
Confirming that this was closed by #327 and closing...

[2017-02-27 19:13] #323 closed

[2017-02-27 19:18] antoninbas commented on #321
I'm taking a stab at this, I have some time today...

[2017-02-27 19:23] mbudiu-vmw commented on #321
Was planning to work on it tomorrow. Today I am at the iovisor summit.

[2017-02-27 19:24] antoninbas commented on #321
@mbudiu-vmw I don't mind doing this one if you can take care of #297

[2017-02-28 02:53] antoninbas commented on #321
Initially I was planning on fixing this as described above, but it required treating `hs[last].f` differently in parser select expressions and in assignments. I didn't find an easy way in `ExpressionConverter` to detect whether I was in a select expression (couldn't use visitor `Context` information because the visitor is "invoked" on each expression individually and not on the whole IR). So I mad

[2017-02-28 21:05] mbudiu-vmw commented on #321
The change is very simple, I assume most of the complexity is in changes to bmv2.
We could arrange for the compiler to move all complex expressions from select expressions into prior assignments.

[2017-02-28 21:11] mbudiu-vmw commented on #321
One solution would be to add a new method to ExpressionConverter to indicate a special context (e.g., inSelectContext(bool)).
But frankly, I like it more if expressions are treated homogeneously everywhere.

[2017-03-01 00:08] antoninbas commented on #321
yes I agree with you that expressions should ideally be treated homogeneously, which is why I decided to update bmv2 to support `stack_field` in a more general way

[2017-03-01 02:52] antoninbas commented on #321
Fixed by #338

[2017-03-01 02:52] #321 closed

[2017-03-01 23:13] sethfowler opened #341 "There's no general solution for the problem of repeatedly printing the same error"
For a variety of reasons (fixed-point algorithms, compiler transformations that duplicate portions of the IR tree, utility code being invoke from multiple passes) we can end up printing the same error message many times. Loop unrolling is a place where this is biting us in a particularly nasty way.

There are ad hoc solutions for this problem at various places in the code; one example is the usage

[2017-03-02 00:19] mbudiu-vmw commented on #341
The simplest solution is to bail out from compiling. This works for errors, not for warnings.
A PassManager will stop after the first pass that signals an error by default. So will a RepeatedPass.
So the only issue is within a pass, which should be tractable.

(I am not aware of any loop unrolling code that is being run in the front-end.)

[2017-03-02 00:31] sethfowler commented on #341
Bailing out would work for errors, that's true. It's nice to report as many errors as possible, though, to reduce the number of edit-compile cycles a P4 developer has to go through.

[2017-03-03 19:56] jnfoster opened #344 "Compiler bug related to typechecking generics (1/2)"
Compiling the following program with the Bmv2 backend,
[code]
crashes with an bug:
[code]

[2017-03-03 19:59] jnfoster opened #345 "Compiler bug related to typechecking generics (2/2)"
Compiling the following program using the Bmv2 backend
[code]
crashes with a bug
[code]

[2017-03-03 20:18] ChrisDodd opened #346 "How to write a useful generic control"
I've been experimenting with trying to write a type-generic control that can be instantiated multiple times with different types and fields, and have been unable to come up with anything that works.  I've tried:
[code]

and also

[code]

but both give errors

as well as errors about type unification failing, or non-constant constructor argsd

[2017-03-03 20:42] sethfowler commented on #346
This simpler variation with only `c1`'s `b` parameter being generic also fails:

[code]

The resulting error:

[code]

If only the `c` parameter is generic, though, it compiles fine:

[code]

Seems like the expression `b = b + c` is tripping up our unification code when `b` has an unknown generic type.

[2017-03-03 21:07] mbudiu-vmw commented on #346
Yes, the type system is like Java or c#, it typechecks separately each function. It is not a template system like c++. Indeed, you have no operations except assignment and perhaps equality on type variables. To allow this we will have to add something like type constraints to the language, I.e. T extends bit. We don't have subtyping so we'll have to do this carefully.

[2017-03-03 21:20] sethfowler commented on #346
That makes sense. We should clarify this in the spec.

Your response made me wonder why my second example compiled, and the answer is: it doesn't! However, the compiler doesn't generate an error when `apply` is called in that case. Here's a complete source file:

[code]

And here's the compiler output:

[code]

Note that there's no error for `t1.apply()` on line 54.

[2017-03-03 21:29] mbudiu-vmw commented on #346
The compiler probably bailed out before reaching that error.

Note that you can do some form of what you want using typedef and #include.

[2017-03-03 21:38] sethfowler commented on #346
P4's generics would definitely be more useful if we had some kind of constraints. It'd be good to think about what kind of things we'd like to support. Beyond the kind of thing Chris is trying to do in this program, it would be nice if we had some way of expressing structural typing for headers and structs.

[2017-03-04 17:26] jnfoster commented on #346
Adding constraints is one option. However, ignoring what is feasible to do on a short schedule, I wonder if we could remove most of the generics from the language.

I believe there are three places where we use type variables:

1. In parsers, controls, etc. parameterized on types. As @ChrisDodd's example shows, this may not be very useful.

2. In architectures, where the type variables represent t

[2017-03-09 18:52] mbudiu-vmw opened #355 "Lookahead does not work on bmv2"
The following program generates JSON which crashes BMv2:

[code]

[2017-03-09 19:13] mbudiu-vmw opened #356 "Invalid JSON"
The following program generates JSON which crashes BMv2:

[code]

[2017-03-10 18:34] antoninbas opened #357 "Range "set" not supported in parser transitions by bmv2 backend"
For example:
[code]
Attached program can be used to reproduce.
[range_set.p4.txt](https://github.com/p4lang/p4c/files/834809/range_set.p4.txt)

[2017-03-10 18:34] #297 closed

[2017-03-10 21:23] mbudiu-vmw commented on #357
Does BMv2 support this or do I have to synthesize a list of explicit labels?

[2017-03-10 22:17] antoninbas commented on #357
You would need to synthesize the list. I don't think it's worth changing the JSON format to support this. If there is a need to optimize the bmv2 parser implementation using set lookups in the future, then we can consider changing the JSON.

[2017-03-13 20:53] mbudiu-vmw opened #361 "Boolean labels are not supported for select expressions on BMv2 back-end"

[2017-03-14 20:55] cc10512 opened #363 "Streamlining for P4_16"
moving from: https://github.com/p4lang/p4-spec/issues/125

@mbudiu-vmw I understand your concerns. It has worked well for a small number of developers, but we're finding that as we bring on new folks, it is becoming an issue since there is no clear history and separation for some of these features.

As I mentioned yesterday, we would like to get the compiler to the point that it supports all the f

[2017-03-14 21:33] sethfowler commented on #363
For web standards, the usual approach is that whenever possible features are implemented before standardization as "polyfills" - effectively, library code that adds support for the feature - or in source-to-source translators. This reduces the burden on implementers and makes it possible to experiment extensively with new features before standardizing them and putting lots of effort into an full i

[2017-03-15 03:16] jnfoster commented on #363
@sethfowler

It's certainly possible to have experimental code side-by-side with standard code, but things are not very clean right now. Let me share two concrete examples that tripped me today: (i.e., I lost more than a few minutes one each, in parts of the compiler that I'm familiar with):

1. The IR allows Declaration_Instances to an initializer which can be null. This is an experimental featur

[2017-03-15 06:06] mbudiu-vmw commented on #363
1. I am not aware of evidence that the existing experimental features are slowing us down. There are no outstanding issues filed against these as far as I can tell.

2. All of the experimental features, with the exception of header_unions, were added at the request of Barefoot, to support extensions to P4 v1.0 and P4 v1.1 which were undocumented.

3. By far the most useful thing we can do to remov

[2017-03-15 20:41] sethfowler commented on #363
Good news: we actually already run tests against all the branches in this repo! You can check on them in the Travis UI.

Regarding point #1, the biggest concern here is the maintenance burden imposed by these features, and that won't necessarily show up in the form of Github issues directly complaining about the feature. It will usually show up in more subtle ways - bugs that are introduced in par

[2017-03-15 22:08] mbudiu-vmw commented on #363
I agree with code documentation; there are two bits of documentation which I tried to maintain relatively up-to-date: the spec and the compiler-design.pptx file in docs/. The latter is a bit out of date but could be refreshed without too much effort; the part describing the build system is the most obsolete, since I am not really keeping track of all the changes you guys have done lately, starting

[2017-03-15 22:18] antoninbas opened #364 "Instantiating a direct_counter outside of a table causes a bug in bmv2 backend"
[p4_16_direct_counter.p4.txt](https://github.com/p4lang/p4c/files/846138/p4_16_direct_counter.p4.txt)
See attached program.

The problem is with the instantiation of `c` in the following snippet:
[code]

Since direct objects cannot be shared across tables, there is no real need to support this but it would be nice to avoid this bug.
BTW, it seems that even direct meters support this type of instan

[2017-03-15 22:21] mbudiu-vmw commented on #364
Would you suggest just giving an error message for this case directing people to invoke the constructor directly in the table?

[2017-03-15 22:30] antoninbas commented on #364
An error message would work. But why not keep it consistent with direct meters?

[2017-03-18 05:58] mbudiu-vmw opened #366 "Incorrect @name annotation for key"
See test p4_14_samples/simple_nat.p4 - the name generated for keys containing isValid() looks suspicious:

hdr.ipv4.isValid(): exact @name("hdr.ipv4.isValid()")

[2017-03-22 01:00] cc10512 opened #373 "bmv2stf does not support ports > 9"

[2017-03-22 01:46] cole-barefoot opened #376 "Segfault in BMV2 compiler"
The following code causes the BMV2 compiler to segfault:

[code]

[2017-03-22 01:50] cole-barefoot opened #377 "Deparser in deparser fails to compile"
The code snippet below instantiates a deparser within another deparser and applies it.  This seems to be legal P4_16 code, according to Section 14 of the draft spec.

[code]

However, it fails with the following error:

[code]

[2017-03-22 15:51] mbudiu-vmw commented on #376
I have a fix, but I am waiting for PR #367 to be merged.
The program will fail to compile with the following error:

[code]

[2017-03-22 15:53] mbudiu-vmw commented on #377
After fixing #376 this program fail to compile with an error indicating that hdrs must be a header type; thus I cannot reproduce this bug. (The fix for #376 has not been submitted yet.)

[2017-03-22 16:37] antoninbas opened #379 "semantics of packets_and_bytes meter type in v1model.p4?"
When instantiating a `meter`, a `CounterType` argument has to be provided (https://github.com/p4lang/p4c/blob/master/p4include/v1model.p4#L64). `CounterType` is an enum that includes `packets_and_bytes`. While the meaning of `packets_and_bytes` is pretty obvious to me for counters, what does it mean for meters?

Note that `packets_and_bytes` meters are accepted by the frontend and the bmv2 backend

[2017-03-22 16:39] mbudiu-vmw commented on #379
The right solution is to define a new enum type.

[2017-03-22 16:43] #373 closed

[2017-03-22 16:57] kucejan opened #380 "Generating digest does not work (P4_16, p4c, bmv2)"
Hi,

I am trying to generate digest using P4_16, p4c, bmv2 and this simple code:

    #include <core.p4>
    #include <v1model.p4>

    header ethernet_t {
        bit<48> dstAddr;
        bit<48> srcAddr;
        bit<16> etherType;
    }

    struct headers {
        ethernet_t ethernet;
    }

    struct intrinsic_metadata_t {
        bit<48> ingress_global_timestamp;
        bit<8> lf_field_lis

[2017-03-22 17:40] cole-barefoot commented on #377
Here is a similar program that uses a header type.  If I understand the the fix for #376, then it should avoid the error you described.

[code]

This fails with the following error:
[code]

[2017-03-22 17:52] mbudiu-vmw commented on #377
This one I can reproduce; it seems to be a bug in the inliner.

[2017-03-22 18:50] mbudiu-vmw commented on #377
I have a fix for this one queued waiting for an earlier PR.

[2017-03-22 20:27] cc10512 opened #383 "support for doxygen documentation"

[2017-03-23 00:41] antoninbas opened #386 "Inlining pass renames objects"
Hi,

I have the following P4_14 program:
[code]

After the Inline pass in the midend, the name for my action becomes `c1.a`. Is there a way to keep the name as `a` for the control plane's sake.
I don't think such an issue can arise with P4_16...

[2017-03-23 15:34] mbudiu-vmw commented on #386
This happens with P4-16 programs too. The P4-16 spec talks about this http://p4.org/wp-content/uploads/2016/12/P4_16-prerelease-Dec_16.html#sec-cp-names

In general this is not possible, because a control may be instantiated multiple times, and thus we have to make up names for the actions.
The solution proposed in the spec is to allow the control plane to use for names any unambiguous suffix of a

[2017-03-23 16:46] vikramnathan commented on #242
Verified as fixed.

[2017-03-23 16:46] #242 closed

[2017-03-23 18:26] antoninbas commented on #386
The problem is more if the action is used in multiple controls.
In the control plane, if I want to build some action input, I am only interested in the action definition, and in my original P4 program there is a single definition for the action, with an unambiguous name of my choosing, "a". Is there really no way for me to access that original definition name?
@sethfowler maybe this is a dumb sugg

[2017-03-23 21:50] pierce-m opened #387 "Selecting on bitslice in parser crashes bmv2"
This is because bit slices get lowered to shift expressions which bmv2 can't evaluate in transition keys: example below.
[code]

[2017-03-23 22:03] mbudiu-vmw commented on #386
The original name is always a suffix.
The API generator could try to use just the suffix when handling a P4-14 program.

[2017-03-23 22:06] mbudiu-vmw commented on #387
The outstanding PR #367 should fix this issue once it is merged.

[2017-03-23 22:08] antoninbas commented on #386
@mbudiu-vmw If the action is defined inside a control to start with, then we do want the control name in the full action name.

[2017-03-23 22:11] mbudiu-vmw commented on #386
We could also have a rule that for global actions the inliner does not change the @name annotations.

[2017-03-23 22:20] mbudiu-vmw commented on #387
This is a duplicate of https://github.com/p4lang/p4c/issues/356

[2017-03-23 22:33] pierce-m commented on #387
Thanks, I didn't see #356

[2017-03-23 22:33] #387 closed

[2017-03-23 23:16] #383 closed

[2017-03-23 23:31] sethfowler commented on #386
Yeah, I think maintaining @name for global actions is the right approach. At this point I think it's safest to ensure that p4RuntimeSerializer always sees the same version of the code that the BMV2 JSON is generated from.

[2017-03-23 23:34] sethfowler commented on #386
NoAction is a global action, right? I'm surprised that it doesn't also end up with a prefixed name.

[2017-03-23 23:43] antoninbas commented on #386
Maybe that's because I added an explicit annotation in core.p4: https://github.com/p4lang/p4c/blob/master/p4include/core.p4#L54?
Yes it would be great if the name annotation could be preserved for global actions.

[2017-03-24 00:27] jnfoster opened #388 "Compiler bug in inlining pass"
Compiling the following program
[code]
using the Bmv2 backend,
[code]
crashes with a compiler bug:
[code]

[2017-03-24 00:41] mbudiu-vmw commented on #386
One way to do this is to save the @name for global objects as prefixed with a dot, and not change it afterwards if it starts with a dot.

[2017-03-24 00:54] sethfowler commented on #386
@mbudiu-vmw, great minds think alike. =) I've been wanting to make that change for a while.

@ChrisDodd, it seemed like you felt positive about the idea earlier today. Should we just go ahead and implement this? I'm happy to take care of it next week once I get some of the high priority stuff on my plate knocked out.

[2017-03-24 00:56] mbudiu-vmw commented on #386
I could implement it too, but I see a big pile of bug reports growing, so I am not sure when I will get to this one. The inliner change should be easy. I don't remember whether there is any pass that attaches name annotations to global objects; this may need to be done very early in the pipeline, possibly even before converting from V1.

[2017-03-24 01:01] sethfowler commented on #386
Sounds good. If you get a chance first and are able to take care of it, I'd be very appreciative. =)

[2017-03-24 17:49] evanches opened #390 "gcc no longer compiling with -Wall or -Werror"
We should turn this back on.

[2017-03-24 21:31] mbudiu-vmw commented on #380
I am not sure I understand what the problem is.
The problem may have disappeared after the latest PR merged.
However, if that is true, it is an accident. My guess is that the control-plane API generator actually uses the names of the *arguments* of the digest call, and if the compiler renames variables the control-plane no longer works properly. If this is the case, this is a big problem, because

[2017-03-24 21:56] mbudiu-vmw commented on #386
I will submit a PR which makes this change: P4-14 actions have a name annotation prefixed with a dot. The inliner does not change the name annotation if it starts with a dot.

This change may need support from the PI generator.

Also, it may need to handle other objects besides actions, and it may need to handle P4-16 actions. If this change solves @antoninbas's problem, then we'll proceed with th

[2017-03-24 21:58] antoninbas commented on #386
If you open a PR, I can run it on several inputs (P4_14 & P4_16) and make sure it works for me.

[2017-03-24 21:59] mbudiu-vmw commented on #386
As soon as I finish testing.
But @sethfowler may need to adjust the API generator too.

[2017-03-24 22:01] mbudiu-vmw commented on #386
It also looks like we'll have to strip the dot in the JSON generated.

[2017-03-24 22:46] mbudiu-vmw opened #394 "Object without constructors can be allocated."
[code]

[2017-03-25 02:17] #355 closed

[2017-03-25 02:18] #356 closed

[2017-03-25 02:19] mbudiu-vmw commented on #27
@antoninbas @sethfowler
Is this issue still an issue?

[2017-03-25 20:09] antoninbas commented on #27
yes tables with action profiles still don't have default actions in bmv2, for now they still use default members / groups.

[2017-03-25 20:57] sethfowler commented on #386
Removing the initial dot from the generated API is straightforward.

@mbudiu-vmw, does your patch change @name's behavior in all cases, or does it only apply to actions right now?

[2017-03-26 17:39] mbudiu-vmw commented on #386
For now we have only done actions.

[2017-03-26 18:34] mbudiu-vmw opened #396 "Assigning a list to a header"
The compiler allows initializing a header with a list expression; however, the spec and the implementation should also make the header valid.

[2017-03-27 11:01] kucejan commented on #380
Hi, the problem has really disappeared after the latest PR merge. Thanks.

[2017-03-27 11:01] #380 closed

[2017-03-27 23:55] jnfoster opened #401 "Compiler bug in constant folding"
Program:
[code]

Error:
[code]

[2017-03-28 17:33] ChrisDodd opened #404 "Arbitrary key masks not supported in P4_16"
P4_14 allows a mask to be used in the reads expression for a table:
[code]

but there does not appear to be any equivalent functionality in P4_16 -- using `data.f1 &&& 0xff00ff` gives a "syntax error, unexpected MASK"

When using the P4_14 frontend, it gives weird errors from the typechecker after converting to (apparently invalid) P4_16 code.

[2017-03-28 17:38] mbudiu-vmw commented on #404
The meaning of key masks is not defined anywhere in the P4-14 spec.
The same thing can be achieved using slices and concatenation in P4-16.
However, the implications on the control-plane are unclear.

[2017-03-28 17:52] ChrisDodd commented on #404
The meaning in P4_14 is pretty clear -- only some of the bits of the field are used for the key.  The way the API currently works for it is to take a value for the field when constructing the action, but ignoring all bits of that value that are not set in the mask.

[2017-03-28 17:59] mbudiu-vmw commented on #404
There are no "fields" in the API. The question is "how does the API populate tables entries for tables that have a key mask. How is the key specified for such an entry?" I expect that the whole key is not stored in the physical table - it would be a waste of precious table storage to store key bits that are never used. So somehow the control-plane has to know what bits to strip out when populating

[2017-03-28 18:07] mbudiu-vmw commented on #404
In other words, the mask is (probably) not useful for the data-plane, it is probably only useful for the control-plane. But it really depends on the target.

[2017-03-28 18:08] mbudiu-vmw commented on #404
If that is true, one way to translate this is to keep the full key ignoring the mask and add an annotation @mask(0xff00ff) which is only used for the API generation.

[2017-03-28 18:21] mbudiu-vmw commented on #404
The spec of P4-16 does not allow masks for keys.
We can take this to the design committee to see whether this should be added.
In the meantime the simplest way to do the translation is to carry a @mask annotation with the key field, and use it in the BMv2 back-end and in the API generation.

[2017-03-28 21:15] #401 closed

[2017-03-28 22:35] ChrisDodd commented on #404
Actually, since P4_16 allow arbitrary expressions in keys, we don't really need masks as such -- just using a bitwise `&` with a constant has the same effect.

The only issue is with naming -- should be allow a key like:
[code]
with no explicit name (`@name` or otherwise) and infer the name `data.f1` for it?

[2017-03-28 22:38] mbudiu-vmw commented on #404
There is already an inspector called TableKeyNames which does exactly this. It won't work in this context as is, but since we are talking about P4-14 you only need a small subset of that visitor.

[2017-03-28 22:54] mbudiu-vmw commented on #404
Actually you also need the control-plane to never insert non-zero bits for the masked bits for this to work.

[2017-03-28 23:25] sethfowler opened #406 "Make it impossible to instantiate std::set and std::map with IR::INode subclass pointers"
We've run into a number of problems with using std::set and std::map with pointers to IR nodes. Because those data structures are sorted by their keys, storing pointers in them makes the iterator order essentially random, which introduces a lot of nondeterminism into the execution of the compiler. That makes debugging much harder.

One solution is just forbid this. Things like `std::set<IR::Node*>

[2017-03-28 23:27] mbudiu-vmw commented on #406
Having sets is harmless.
Iterating over the sets is harmful.
It would be nice if you could just disable the iterators.

[2017-03-28 23:45] sethfowler commented on #406
That's true, but unfortunately, it's much, much harder.

[2017-03-29 16:16] jafingerhut opened #407 "Add tests for which member types are allowed within headers, structs, and tuples"
[member-types.p4.txt](https://github.com/p4lang/p4c/files/879681/member-types.p4.txt)

Mihai Budiu would like compiler tests for all possible allowed types of members for headers, structs, and tuples, and all disallowed types.  The attached file contains uncommented lines for all of the combinations that give no errors with p4test and p4c-bm2-ss as of 2017-Mar-28, and have commented-out lines for

[2017-03-29 23:53] jnfoster opened #409 "Possible type checking bug."
Compiling this program with `p4c-bm2-ss`,
[code]
produces an error:
[code]

Adding a cast,
[code]
doesn't help:
[code]

Instead, I have to introduce my own local variable:
[code]

[2017-03-29 23:58] jnfoster commented on #409
How should implicit cast insertion work for out parameters?

[2017-03-29 23:59] mbudiu-vmw commented on #409
There is no implicit cast insertion for parameters, in or out.

[2017-03-29 23:59] jnfoster commented on #409
By copy-in/copy-out semantics (just copy-out semantics in this instance), I'd expect things to work just like the version with a local variable x. But it doesn't...

[2017-03-30 00:00] mbudiu-vmw commented on #409
At least that's what the spec says.
The spec says that only assignment may introduce an implicit cast (and operations with an int).
This is not strictly assignment.

[2017-03-30 00:00] jnfoster commented on #409
Fair enough. I think we can agree it's not super programmer friendly?

[2017-03-30 00:00] mbudiu-vmw commented on #409
I think that this is actually a good behavior, you don't want to lose these bits accidentally because the compiler inserts a cast for you.

[2017-03-30 00:01] mbudiu-vmw commented on #409
The programmer has to think what happens to the extra bits.

[2017-03-30 00:01] jnfoster commented on #409
Ahh, the classic "it's a feature not a bug" ;-)

[2017-03-30 00:02] mbudiu-vmw commented on #409
Programmers may hate you in the short term, but will thank you in the long term.
Implicit casts are evil. They change your program in invisible ways.
This is an important principle in the design of P4 - no surprises.

[2017-03-30 00:04] jnfoster commented on #409
Sure, I find that convincing, except we argue the opposite for binary operations where one argument is `int` and another is fixed-width:

[2017-03-30 00:07] mbudiu-vmw commented on #409
We are not arguing the opposite, we claim that there is no surprise in this case.
Initially I wanted users to specify the width of all constants, but there was a revolt, and I relented. I think that this is reasonable.

[2017-03-30 00:23] jnfoster commented on #409
Not disagreeing, but as a programmer it'd be nice if `+` and an extern `add<T>(out T result, in T op1, in T op2` behaved the same with respect to implicit casts...

[2017-03-30 15:38] mbudiu-vmw opened #411 "All p4c commiters are from Barefoot"
I think that the compiler should have a broader ecosystem of committers.
Also, I think that committers should be restricted to people who have submitted at least a few accepted patches.

[2017-03-30 17:14] cc10512 commented on #411
Added "p4lang key committers" as a team with commit privileges.

[2017-03-30 17:14] #411 closed

[2017-03-30 23:54] jafingerhut opened #412 "bit<W> to int<W> cast on const value fails if MSB is set"
Example:

    const bit<16> c1 = 16w0xbeef;
    const int<16> c1s = (int<16>) c1;

    % p4test allowed-construct.p4
    allowed-construct.p4(48): warning: 48879: signed value does not fit in 16 bits
    const bit<16> c1 = 16w0xbeef;
                       ^^^^^^^^^

Section 8.9.1 "Explicit casts" of P4_16 draft spec says:

    bit<W> -> int<W>: preserves all bits unchanged; values with the MSB se

[2017-03-30 23:56] mbudiu-vmw commented on #412
This is a warning.
Why do you say that this fails?

[2017-03-31 00:04] jafingerhut commented on #412
Ugh.  Sorry for the noise.  Not reading messages carefully enough.  Closing.

[2017-03-31 00:04] #412 closed

[2017-03-31 04:49] jafingerhut opened #413 "Compiler crash on a particular action call"
Attempting to compile the P4_16 program in the attached file causes a crash in the compiler, one that does not occur if the call to the action foo2() is commented out.  The action call looks like it should be legal to me -- is it?  Even if not, a compiler crash seems a bit severe.
[crash.p4.txt](https://github.com/p4lang/p4c/files/884556/crash.p4.txt)

[2017-03-31 06:22] jafingerhut opened #414 "p4c-bm2-ss crash when control instantiated but not apply'd"
In the attached P4_16 program, search for comment containing XXX.   A control block instantiates an earlier control block.  If it also calls apply() method on it, then p4c-bm2-ss compiles without errors.

If it does not also call apply() method on it, p4c-bm2-ss crashes.
[crash2.p4.txt](https://github.com/p4lang/p4c/files/884698/crash2.p4.txt)

[2017-03-31 16:01] williamtu opened #415 "P4 program coding style"
Hi,
Is there any file specifying the P4 program's coding style? I couldn't find anything in p4c/docs/
Thanks

[2017-03-31 18:24] cc10512 opened #416 "Ignore unknown annotations/pragmas"
Unknown @annotations should print a warning, but not give an error.

[2017-03-31 20:15] mbudiu-vmw commented on #416
I think that today they are silently ignored.
Unfortunately I don't think that the front-end or mid-end can do anything about this: only the back-end knows what annotations it recognizes. We can however have a pass similar to ValidateTableProperties for annotations.

[2017-03-31 20:25] mbudiu-vmw commented on #415
There is an emacs p4-mode.el, but it has several bugs. Better than nothing, though.

[2017-03-31 21:23] mbudiu-vmw commented on #414
The compiler front-end used to delete such dead code, but now it's leaving it in the program.
This causes a crash since the back-end does not expect it any more.
We are leaving instantiations in the program until the back-end even if they are unused, because they may have a bearing on the control-plane.
Note that the front-end still deletes unused tables; maybe we should change this fact as well.

[2017-04-01 00:35] mbudiu-vmw commented on #413
This is an important question that the spec should settle: can we call actions from a parser directly?
It looks reasonable - especially since we don't have any other kinds of user-defined functions.
I will file a bug with the spec too.

[2017-04-02 17:32] jafingerhut opened #420 "crash when compiling program with return inside action"
Tested with 2017-Mar-30 version of p4test and p4c-bm2-ss, using attached program.  Crash with return statement in action, no crash when the return statement in action is removed.  P4_16 spec explicitly mentions allowing return statements in controls and actions.  I found several test cases in p4c/testdata/p4_16_samples with return statements in controls, but none with return statements in actions.

[2017-04-03 05:15] jafingerhut opened #422 "const not allowed inside parser state definition"
The attached program demonstrates this with 2017-Mar-30 version of p4test and p4c-bm2-ss.

Both const and variable declarations are allowed in all of these places by current P4_16 compiler:
* top level
* inside parser directly (outside of parser state definition)
* inside control directly (outside of table or action definition)
* inside action
* inside control apply block
* inside inner blocks enc

[2017-04-03 16:42] mbudiu-vmw commented on #422
Actually variable declarations at the top-level should be illegal. If they are not, it's a bug.
At the toplevel you should only be allowed instances.

[2017-04-03 16:44] mbudiu-vmw commented on #422
I could not reproduce the claim that variable declarations are allowed at the top-level. If you have a counter-example please share it.

Please note that we make a clear distinction between variables and instances. Variables live on the "stack", while instances are statically allocated. We allow instances at the top-level, but not variables.

[2017-04-03 16:50] mbudiu-vmw commented on #416
It would be easy to check that there are no unknown annotations.
What is much harder to check is whether the annotations are used where they are supposed to be. E.g., @name annotations only make sense on declarations. The rules for each annotation type can be very complicated. So I think it is safer to go the Java/C# route: do not mandate anything in the spec about unknown annotations, and do the

[2017-04-03 17:01] cc10512 commented on #416
@mbudiu-vmw they were not silently ignored. Agreed that we should not mandate anything in the spec other that they should not do anything. However, an implementation (like p4c) should decide how to handle them. I thought warnings are a fair game, especially if we add support for ignoring classes of warnings. Silently ignored is not always the best, as people may think their annotation does somethi

[2017-04-03 17:07] mbudiu-vmw commented on #420
The comment in your code is worried also about a warning being issued.
I think that the warning is actually OK, since the assignment in the 'if' is actually dead code; in the end the parameter ends up being dead code too.

[2017-04-03 21:44] jafingerhut commented on #422
I was mistaken about variable declarations being allowed at the top-level.  Thanks for the correction.

[2017-04-03 22:27] antoninbas opened #425 "p4runtime output includes a bunch of tbl_act_N tables and act_N actions."
[code]
[code]
For a medium-sized P4 program, I can see about a dozen of them. I didn't remember having this problem before, so I rolled back to a p4c version from a week ago and confirmed that this was a new issue.
More precisely, at refpoint cbee56ae03c6d7b4991811c6b42372738513c5e5 I do not observe the issue but at refpoint b88b85064e11eaafc489d713055484574ef5e3de I do observe the issue. Which me

[2017-04-03 22:28] antoninbas opened #426 "add unit test for p4runtime"
Once #425 is fixed, to avoid similar issues in the future.

[2017-04-03 22:30] sethfowler commented on #425
A lot changed in those commits, but my guess is that the new `UniqueNames` passes introduced in b88b850 may be responsible. I'll dig in more later.

[2017-04-03 22:31] mbudiu-vmw commented on #425
These actions are created by the compiler to execute code that is in a control but cannot be executed directly on the target. They are a symptom that the code is not very well optimized. They should not affect the correctness of the program.
These tables have constant entries - only a default action in fact. So they do not need to be exposed to the control-plane.

[2017-04-03 22:31] sethfowler commented on #426
Agreed, this would be a good idea. I recently added GTest in p4c and this was one of my primary use-cases for it.

[2017-04-03 22:34] sethfowler commented on #425
That should be easy enough to fix, then, except that currently we don't have a way of expressing that a certain table or action shouldn't be exposed. I could add support for an `@hidden` annotation or something of the sort. Which code generates those tables and actions, so I can tag them appropriately?

[2017-04-03 22:35] mbudiu-vmw commented on #425
This is at most a performance bug, but not a correctness bug.
Solving it will require better optimizations.

These tables do not have a key - that's a hint that they do not have to be exposed. They should also have a size of 0 - but I guess that the default size is being used.

[2017-04-03 22:37] sethfowler commented on #425
I'd prefer not to use a heuristic to identify them; that seems fragile.

[2017-04-03 22:37] mbudiu-vmw commented on #425
It is not a heuristic.
If a table has no key it cannot have any actions.

[2017-04-03 22:42] mbudiu-vmw commented on #425
The passes in question are SynthesizeActions and MoveActionsToTables.
They have been there for a long time.
What has changed is that we use more temporaries in the program, and the expressions to compute these temporaries are lifted into these one-time-use actions.

[2017-04-03 22:43] sethfowler commented on #425
Thanks, Mihai. I'll take a look.

[2017-04-03 22:45] mbudiu-vmw commented on #425
But if the problem is the control-plane this is the correct solution: a table with no key and a const default_action should not be exposed. There is nothing the control-plane can do about it. (Well, perhaps it can, if it has counters...).
This is part of the P4 v1.0 spec too.

[2017-04-03 22:47] mbudiu-vmw commented on #425
One other thing you can do it to assign them a name such as @name(".") in the MoveActionsToTables pass.

[2017-04-03 22:49] sethfowler commented on #425
Yeah, that could work.

[2017-04-03 23:22] jafingerhut commented on #425
P4_14 allows one to create tables with no fields in the key, and one or more possible actions, and I thought (perhaps only assumed) that the control plane API would allow you to specify the default action on a miss, and that default action would be performed for every packet on which that table is applied.  Does P4_16 plan to remove this capability, assuming I am not imagining this capability in P

[2017-04-03 23:26] mbudiu-vmw commented on #425
That should remain.
But if the default_action is also const, then it's really a read-only table for the control-plane.

[2017-04-04 00:21] sethfowler commented on #425
Even read-only tables should appear in the control plane, really, assuming the programmer introduced them and not the compiler. Although you can't change their behavior, it does seem to reasonable to query information about such a table (its default action, any annotations that were applied to it, etc).

[2017-04-04 13:42] kucejan opened #430 "BMV2 backend generates no errors for hash input expressions it can't handle"
According [JSON input format](https://github.com/p4lang/behavioral-model/blob/master/docs/JSON_format.md#calculations) BMV2 does not accept expressions as an input for hash calculations. However, no error is generated if you use an expression it can't handle; the result is just silent failure. BMV2 does not output any error with the generated JSON, but the output value of the hash is always zero r

[2017-04-04 15:27] mbudiu-vmw commented on #430
If @antoninbas can confirm this diagnosis it should be relatively easy to fix this in the compiler.
The question is: what other built-in externs have similar restrictions?

[2017-04-04 17:05] jafingerhut commented on #422
Github did not auto-close this on this commit: https://github.com/p4lang/p4c/commit/b85401c8d7d7dca447816e7633128efc2db949dc

I have tested with compiler and failing test case after that commit, and it is accepting const inside parser state definition now, so closing.

[2017-04-04 17:05] #422 closed

[2017-04-04 17:15] jafingerhut commented on #414
I have tested the P4 program crash2.p4 causing the crash before this fix was committed: https://github.com/p4lang/p4c/commit/52c5e1c78c199292b49e3fba3e5c16231d8cbe0d

No crash after the commit, neither with p4test nor p4c-bm2-ss -- only a correct warning about an unused instance.  Closing this issue.

[2017-04-04 17:15] #414 closed

[2017-04-04 17:16] jafingerhut commented on #413
Link to issue on p4-spec repo: https://github.com/p4lang/p4-spec/issues/151

[2017-04-04 17:58] jafingerhut commented on #420
With this commit: https://github.com/p4lang/p4c/commit/a9dfc16ca69cc053a7116b9ca3b1c0e00465ccea

I have tested that the crash is gone, and no warnings or other problems occur, neither with p4test nor with p4c-bm2-ss, on the test program.  Closing this issue.

[2017-04-04 17:58] #420 closed

[2017-04-04 21:05] #394 closed

[2017-04-04 21:06] #219 closed

[2017-04-04 22:16] jafingerhut commented on #394
After this commit, this program gives no errors:

[code]

If I delete the C(); constructor inside the 'extern C' definition, I get this error:

[code]

Does that all look like it is working as desired?

[2017-04-04 22:18] mbudiu-vmw commented on #394
This is the intended behavior.
Do you find this surprising?

[2017-04-04 22:27] jafingerhut commented on #394
I don't have enough experience with P4_16 to find it surprising or unsurprising.  Just wanted to check whether an issue was warranted.  If compiler is correct here, then P4_16 spec should have Checksum16() constructor in very_simple_model.p4 arch model, yes?  If correct, I can file issue for spec.

[2017-04-04 22:29] mbudiu-vmw commented on #394
Even better, perhaps you can file a PR to fix the issue in the spec?
Thank you.

[2017-04-04 22:44] jafingerhut commented on #394
PR created on the spec.

[2017-04-04 23:29] antoninbas commented on #430
I can confirm this. I updated the bmv2 JSON parser to throw an error in this case (https://github.com/p4lang/behavioral-model/pull/322).
The expressions need to be evaluated and the results written to temporaries.
Usually this restriction applies whenever a built-in extern has to consume a field list / tuple / list expression; `generate_digest` comes to mind, but support for that is a little hacky

[2017-04-05 03:01] jafingerhut opened #435 "No error for extern objects with constructor name matching a different type"
Happened across this while puzzling through what TYPE meant in the grammar rule for constructor method declarations.  I don't think this is a high priority issue, but wanted to file one in case someone else thought it was worth a change in the compiler.  See comments inside myExtern1 in the attached program.
[wrong-constructor-name.p4.txt](https://github.com/p4lang/p4c/files/895054/wrong-construct

[2017-04-05 03:13] jafingerhut commented on #435
Additional comment/question -- the latest P4_16 draft spec says: "Extern declarations can only appear in architecture model libraries specific to a target."  p4c doesn't seem to enforce this.  Does that statement look correct?

If architecture model libraries are in #include files, it doesn't seem like there is even a very straightforward way for the compiler to enforce that restriction?

[2017-04-05 04:06] jafingerhut opened #436 "Exception when trying to invoke apply() method of control instantiated at top level"
I can instantiate a control A within control B, then invoke A.apply() within control B's apply block.  However, if I change it to instantiate A at the top level, the compiler crashes.  Not sure if this is intended to be a legal P4_16 program or not.

Look for occurrences of my_cBar in attached program.
[method-call-on-top-level-control-inst.p4.txt](https://github.com/p4lang/p4c/files/895153/method

[2017-04-05 04:10] jafingerhut commented on #425
I like @sethfowler's idea of having something like a @hidden annotation that is automatically added to compiler-synthesized tables like this.  Even if they have no fields in the key, and a single action, and a const default_action, or whatever conditions you want to think of, if they are in the P4 source program, making them at least readable from the control plane seems like a good idea.

[2017-04-05 05:46] hanw opened #437 "error type in core.p4 not saved in parser symbol table?"
Is the P4 `error` type saved in symbol table during parsing?

[code]

I am getting a few error messages when I try to run add a second unit test to the same gtest file.
[code]

The problem is not because of existing entries in symbol table, which are already cleared with a `clear` function to remove all entries in symbol table after each run.

[2017-04-05 14:22] #437 closed

[2017-04-05 15:40] kucejan commented on #430
I can confirm the problem with `digest()` too.

    digest<digest_t>(0, { meta.val + 5 });
    -------
    bit<32> temp = meta.val + 5;
    digest<digest_t>(0, { temp });

In both cases expression type element is generated, but in the case of digest, running generated JSON in BMV2 ends up with SIGABRT due to assertion.

    lt-simple_switch: P4Objects.cpp:1553: void bm::P4Objects::init_learn_lists

[2017-04-05 15:43] mbudiu-vmw commented on #435
Indeed, the compiler cannot enforce this.
We may want to remove this phrase from the spec; Netronome has this use for extern declarations where they indicate user-supplied functions in C which are linked to the P4 program. In this case users can write new extern declarations. Maybe we should add a special annotations to indicate to the back-end that it does not need to understand them.

[2017-04-05 15:51] mbudiu-vmw commented on #60
I think that this issue has been solved by the recent PR #397

[2017-04-05 15:51] #60 closed

[2017-04-05 15:52] mbudiu-vmw commented on #346
I believe that this issue can be closed because of the upcoming spec changes which disallow generic controls and parsers.

[2017-04-05 15:53] mbudiu-vmw commented on #102
This has been solved by PR #397

[2017-04-05 15:53] #102 closed

[2017-04-05 15:59] mbudiu-vmw commented on #185
I believe that this issue has been solved.

[2017-04-05 15:59] #185 closed

[2017-04-05 16:00] mbudiu-vmw commented on #246
This issue should have been solved by the P4 v1.0.3 spec. Our compiler follows that version of the spec in this respect.

[2017-04-05 16:00] #246 closed

[2017-04-05 16:02] mbudiu-vmw commented on #379
This has been solved by introducing a new enum MeterType in v1model.p4.
An important question to consider is whether freezing the P4-16 spec also entails freezing v1model.p4.
In principle the two should be decoupled, but it would be nice to provide a stable model that people can rely on.

[2017-04-05 16:02] #379 closed

[2017-04-05 16:04] mbudiu-vmw commented on #377
I believe that this issue has been solved.

[2017-04-05 16:04] #377 closed

[2017-04-05 16:09] mbudiu-vmw commented on #345
I believe that issue has been fixed.

[2017-04-05 16:09] #345 closed

[2017-04-05 16:09] mbudiu-vmw commented on #344
I believe that this issue has been fixed.

[2017-04-05 16:09] #344 closed

[2017-04-05 16:10] mbudiu-vmw commented on #208
I believe that this issue has been solved.

[2017-04-05 16:10] #208 closed

[2017-04-05 16:11] mbudiu-vmw commented on #187
This seems to be solved.

[2017-04-05 16:11] #187 closed

[2017-04-05 16:15] mbudiu-vmw commented on #364
I believe that this issue has been solved.

[2017-04-05 16:15] #364 closed

[2017-04-05 16:16] mbudiu-vmw opened #438 "Check the required version of bmv2"
configure should somehow check that a recent enough version of BMv2 is installed; otherwise tests that depend on recent features can fail.

[2017-04-05 16:19] mbudiu-vmw commented on #376
This issue should have been solved.

[2017-04-05 16:19] #376 closed

[2017-04-05 16:33] mbudiu-vmw commented on #425
If no one is working on this I can do it myself.
I would prefer to use something like @name(".") to avoid polluting the namespace of annotations.
Having these compiler-synthesized tables be exposed to the control plane violates the principle advocated by @jnfoster that one can read the control-plane from the P4 program.

[2017-04-05 16:35] mbudiu-vmw commented on #436
I think this is a duplicate of #388.
But this issue has a much better title.
Both of these are related to a spec issue: https://github.com/p4lang/p4-spec/issues/150
So we can't fix this one until we settle the problem in the spec.

[2017-04-05 16:42] mbudiu-vmw commented on #430
I think that the P4-14 spec was never clear about this fact, but actually the digest is given a *reference* to a field list, and the digest always executes at the end of the pipeline.

In P4-16 there are no references, so this kind of behavior is impossible to express in the language. By using a fresh temporary the compiler can implement the "eager" semantics.

We have a problem with regards to P4

[2017-04-05 16:45] sethfowler commented on #379
It looks to me like the P4Runtime code needs to be updated to account for this. I'll take care of that today if I get a chance.

[2017-04-05 21:26] mbudiu-vmw commented on #390
I believe that this has been solved.

[2017-04-05 21:26] #390 closed

[2017-04-05 22:11] mbudiu-vmw opened #441 "Check unsupported versions of compilers"
Some code idioms in the p4c compiler trigger bugs in gcc or other tools.
`./configure` should check for these unsupported versions.

[2017-04-05 22:12] sethfowler commented on #441
Fair enough. =)

[2017-04-05 23:58] antoninbas commented on #426
Not sure what the best approach is for this, given that the serializer needs a refMap and a typeMap to run. What is the quickest way of generating these? Also, is it a robust testing solution, given that different backends may use different maps based on which passes they have run before running the serializer?

[2017-04-06 00:42] sethfowler commented on #426
I think we can define the behavior of p4RuntimeSerializer without *too* much reliance on backend-specific code, though externs are a tricky case once we venture outside of v1model.

As far as generating a refMap and a typeMap goes, Han is experimenting with tests that only run a small subset of the passes in the GTests he's been writing today. Take a look at them and see if you can adapt his appro

[2017-04-06 00:42] sethfowler commented on #426
(This stuff is undergoing a lot of churn right now, so honestly you may be better off waiting until next week to do this.)

[2017-04-06 03:11] jafingerhut opened #445 "Should varbit element be allowed in a tuple?"
The attached program gives an error with 2017-Apr-04 version of p4test and p4c-bm2-ss, because there is a `varbit<>` included in a tuple being fed as input to Checksum16's get() method.

[code]

p4test gives no error if the `varbit<>` is removed from the tuple.  p4c-bm2-ss still crashes without the `varbit<>` element with the following messages:

[code]

I understand that the Checksum16 extern in

[2017-04-06 15:51] mbudiu-vmw commented on #430
The PR above fixes the "complex expression" problem, but it does not fix the weird semantics for digest.
So this issue should not yet be closed.

Unfortunately our testing framework does not support digest, so we can't write a test for this issue.

[2017-04-06 15:58] mbudiu-vmw opened #447 "varbit fields are not properly implemented"
There are several issues with varbit:
- we don't properly convert P4-14 programs with varbit fields into P4-16 programs using v1model
- we do not generate proper code for handling varbit fields on BMv2

[2017-04-06 16:15] antoninbas commented on #447
I can look into how to support the 2 argument extract in bmv2. It's not such a big difference with what is supported today. Today in bmv2, the VL field size expression is a property of the VL field; I just need to support providing this expression as part of the extract call instead. The only difficulty is that I need to make sure the JSON stays backward-compatible.

[2017-04-06 16:19] mbudiu-vmw commented on #447
You can use another name for the method, like 'extractVarbits' if that helps.
The compiler should take care of that.

That will only be half of the equation, though, we also need to support converting P4-14 correctly, and also assignments between varbit values. I guess that today they can be done using copy_header.

Also, @akeep pointed out checksums; does the checksum work with a field list where

[2017-04-06 18:42] antoninbas commented on #447
Apart from the parsing, I don't see what else would need to change. Assignments and using VL fields in calculations / checksums should work fine.

[2017-04-07 11:12] Xingdao-Fan opened #453 "what(): COMPILER BUG: ../frontends/p4/typeChecking/typeChecker.h:100"
I previously mentioned this on a P4-dev-lists topic: http://lists.p4.org/pipermail/p4-dev_lists.p4.org/2017-March/000858.html

Mihai Budiu disclosed that this was intentional, [here](http://lists.p4.org/pipermail/p4-dev_lists.p4.org/2017-March/000860.html). As it turns out, the problem with my code was not the `.hit` attribute, but tables having parameters. This has been removed from the language

[2017-04-07 16:01] #361 closed

[2017-04-07 16:08] mbudiu-vmw commented on #453
I cannot reproduce this issue with the latest version of the compiler. The error I get is:

[code]

So this program does not even parse.

[2017-04-07 18:05] mbudiu-vmw commented on #407
I have fixed several of these. There is one big issue remaining: the bmv2 back-end does not work when you have a control or parser argument whose type contains nested structs (or tuples). I am thinking to file a separate issue for just that case; it may be harder to fix than the ones I've done. I have to think about it some more.

An important question is whether the compiler is allowed to change

[2017-04-07 18:09] mbudiu-vmw opened #455 "bmv2 back-end does not support nested structures in controls or parser parameters"
(This is a left-over from issue #407.)

The pass NestedStructs handles only local variables whose type is a nested structure. It does not touch control or parser parameters. So if these have a type containing nested structs the compiler will fail.

(It cannot do anything extern method or function parameters - since these are potentially visible outside of the data-plane.)

[2017-04-07 18:11] #435 closed

[2017-04-07 18:12] #409 closed

[2017-04-07 18:13] mbudiu-vmw commented on #404
This has been fixed, but the issue of how this impacts the control-plane is still open.

[2017-04-07 18:15] mbudiu-vmw commented on #386
I think that this issue is solved by using names prefixed with a dot for global actions.
It is unclear whether we need to do anything for other global objects.

[2017-04-07 18:15] #386 closed

[2017-04-07 18:18] mbudiu-vmw commented on #259
I wonder whether this issue is solved.

[2017-04-07 18:20] mbudiu-vmw commented on #225
@sethfowler : can we close this issue?

[2017-04-07 18:24] jafingerhut commented on #435
Confirmed that the test case now gives an error message for the thing that looks like a constructor, but has a different type name than the extern object it is within.  Thanks, Mihai.

[2017-04-07 18:25] mbudiu-vmw commented on #415
@vgurevich : I have assigned this to you, maybe you want to fix the emacs file? I got the original one from you. Maybe you have by now also vi support?

The bugs that I am aware of are the following:
#include is not indented properly
if/else is not indented properly

[2017-04-07 18:33] mbudiu-vmw commented on #167
I think we should postpone this one. We risk losing users if we are too strict.

[2017-04-07 18:35] #453 closed

[2017-04-07 20:09] ChrisDodd commented on #67
Maybe just use `-C` when invoking the preprocessor -- the P4 lexer already ignores comments, but after recording the source info for error messages...

[2017-04-07 20:59] jafingerhut opened #457 "Is it architectural constraint that p4c-bm2-ss cannot apply same table twice?"
It probably is, but I wanted to confirm.

In a few test programs, every attempt I have made to make a program apply a table twice, either apply'ing it twice in same control apply block, or invoking a control that apply's a table twice from other control blocks, causes p4c-bm2-ss to give an error about the table being involved in a cycle.

Note: p4test gives no such error, which is what I would exp

[2017-04-07 21:39] antoninbas commented on #457
bmv2 was mostly designed and written before P4_16 existed. Internally, control flows are represented as a table graph, mostly for legacy reasons. Edges between table nodes are labelled with actions.
Let's look at some examples and assume I have a table `t1`, with 2 actions `a1` and `a2`, and some other tables `t2` and `t3`.
[code]
is represented by graph
[code]
Similarly,
[code]
is represented by

[2017-04-07 23:17] sethfowler commented on #167
Actually I should've closed this a while ago. We decided to stick to C++11 only for now. Thanks for bringing it to my attention, Mihai.

[2017-04-07 23:17] #167 closed

[2017-04-07 23:29] sethfowler commented on #225
Most of these are no longer a problem from the perspective of control plane API generation, at least, because we don't expose header fields anymore. One thing I still think should probably be desugared in a separate pass is the implementation of `isValid()`. That's actually the only target-specific thing left in the control plane API generation code, or at least the only one I can remember offhand

[2017-04-07 23:30] sethfowler commented on #259
It's not clear. At a minimum, I think we need to write some tests for this.

[2017-04-09 22:35] jafingerhut opened #461 "p4c-bm2-ss gives incorrect warning about unused counter"
See the first line containing "direct_counter" in the attached P4_16 program.  2017-Apr-08 version of p4c-bm2-ss gives a warning about ipv4_da_lpm_stats being unused.  However, if I comment out that line, I get 2 errors, one for each time ipv4_da_lpm_stats.count() is called shortly afterwards.

Also, if I generate a bmv2 JSON file and run simple_switch on it and try to use the command 'counter_rea

[2017-04-10 19:25] jafingerhut commented on #457
Thanks for the detailed answer, Antonin.  Very helpful.  I am closing this issue, as at least I am satisfied with not only the reason why it is a restriction in software historically, but also getting people accustomed to at most one lookup in a particular table per packet is a good thing for high performance targets.

It might be nice if the compiler were sufficiently smart to detect accesses to

[2017-04-10 21:10] antoninbas opened #463 "P4Runtime Serializer discards annotations on match key fields and action params"
Annotations on match key fields and action parameters don't show up in the generated file.
I'm attaching an example program to help reproduce. There is a `@p4runtime_id(999)` annotation on a match field and on an action param, and neither show in the output.
[p4_16_annotations.p4.txt](https://github.com/p4lang/p4c/files/911481/p4_16_annotations.p4.txt)

[2017-04-10 22:44] antoninbas commented on #425
Any chance progress can be made on this? Did you reach consensus on one of these 2 solutions?

[2017-04-10 22:48] sethfowler commented on #425
@jnfoster, has the committee reached agreement on an approach here? Should we go ahead and implement `@hidden` or something like it?

[2017-04-10 23:18] cole-barefoot commented on #425
We discussed and are leaning toward the approach proposed here:

https://github.com/p4lang/p4-spec/issues/138#issuecomment-293021309

If I understand your discussion above, adding the `@hidden` annotation should address the issue above.

Thoughts?  The next steps are to (a) draft a PR against the spec and (b) implement the changes and make a PR against p4c.

[2017-04-11 02:54] jafingerhut commented on #457
I had a side communication with someone suggesting it might be nice to reopen this.  I can definitely see some scenarios where even if some target architectures do not allow this, having the option for bmv2 to be more general than they are could be useful.  I don't have any plans to submit a change soon to p4c-bm2-ss and behavioral-model to enable this generalization, but wanted the issue left as

[2017-04-11 03:01] jafingerhut commented on #457
I would like to add 'enhancement' label to this issue, but I don't think I have permission to do so.

[2017-04-11 17:28] mbudiu-vmw commented on #457
p4c-bm2-ss allows multiple calls of the same table if it can fit the control-flow graph within the BMv2 constraints.

[2017-04-11 17:34] jafingerhut commented on #457
@mbudiu-vmw: Understood that there are special cases where it is allowed.  The purpose of this enhancement is the hope of generalizing BMv2 so the current control-flow graph restrictions are no longer a limiting factor.

[2017-04-11 17:43] mbudiu-vmw commented on #457
The issue should be filed with BMv2.

[2017-04-11 17:58] cc10512 commented on #457
BMv2 supports this. It is the compiler that needs to do the analysis and accept the program.

[2017-04-11 18:04] mbudiu-vmw commented on #457
@antoninbas wrote:

"There is no way I can represent this control flow with my graph format, except if I duplicate the t2 vertex"

The program representation in BMv2 JSON uses table names for the control-flow graph nodes. There cannot be two nodes with the same name.

[2017-04-11 18:13] jafingerhut commented on #457
It isn't a small change, I am sure, but @antoninbas also wrote that this enhancement would be possible if you "change the control flow representation in bmv2".  There is no time-urgency for this suggested enhancement, certainly not before the May 2017 P4_16 release.  I'm in this for the long haul :-)

[2017-04-11 18:14] mbudiu-vmw commented on #461
This issue was introduced in 2c131b8a65c42c0641bcd4175c51589b271e8bde, when the direct counters had a method count() added. Originally there was no such method in v1model.p4.
I believe that this method should not be present in v1model.p4.

[2017-04-11 18:17] mbudiu-vmw commented on #461
See all the comments at #421 where this problem was anticipated.

[2017-04-11 18:18] jafingerhut commented on #457
Sorry, I missed some of the comment thread here.  It seems to me that enhancing this requires changes in both bmv2 and in the compiler.  I can file an issue in the behavioral-model repo as well, but I'm sure the enhancement wouldn't be complete until both had been enhanced.

[2017-04-11 18:19] antoninbas commented on #457
I can confirm that for supporting multiple executions of the same table in the general case, bmv2 needs to be updated, as well as the bmv2 JSON format (and therefore the compiler).
I would indeed suggest waiting before implementing this, at least until the legacy bmv2 compiler (https://github.com/p4lang/p4c-bm) is deprecated; otherwise it would need to be updated as well to support the new JSON fo

[2017-04-11 21:47] mbudiu-vmw commented on #225
We have a separate issue for isValid(), i.e., #366.
So I will close this one.

[2017-04-11 21:47] #225 closed

[2017-04-12 02:57] #441 closed

[2017-04-12 02:59] sethfowler opened #471 "Decouple P4 standard include path code from compiler options processing"
Right now we compute the P4 standard include path (the path we load things like `core.p4` from) in `CompilerOptions::process()`. It'd be nice to be able to use the same logic when we're loading P4 headers in the GTest code, but to do that, we need to decouple it from compiler options processing a little.

[2017-04-12 17:38] mbudiu-vmw commented on #425
OK, let's just use a `@hidden` annotation and get rid of this problem.
I will place this on all actions and tables synthesized by the compiler.

[2017-04-12 20:16] mbudiu-vmw opened #473 "p4c-bm2-ss crash on compiling default_action"
The following program submitted by @jafingerhut crashes the compiler:

[code]

[2017-04-12 20:49] mbudiu-vmw commented on #416
@cc10512 : what are you proposing to do about this issue?

[2017-04-12 21:30] cc10512 commented on #416
Fixed by #419

[2017-04-12 21:30] #416 closed

[2017-04-13 23:11] jnfoster opened #477 "Front-end doesn't enforce constraint that `extract` only be used with header types"
The following program is accepted by `p4test` but fails with any non-trivial backend.
[code]
The issue is that `extract` is used with a header stack rather than a header.

Worse, if the start state merely transitions to `accept`, making `dead` a dead state, then some backends do not have an error, which is surprising for programmers.

I believe this should really be enforced during typechecking. H

[2017-04-13 23:13] jnfoster opened #478 "Front-end doesn't enforce constraint that `extract` be used with fixed-width headers."
Similar to #477, the following program compiles without error

[code]
According to the spec, this program should be rejected.

[2017-04-14 02:01] antoninbas opened #479 "do not consider @hidden objects when computing aliases in p4runtime serializer"
As per @sethfowler comment in #476:
Objects which are tagged with @hidden are still considered when generating aliases. If your program has two objects, a.b.c and @hidden d.b.c, ideally a.b.c would receive the alias c.

[2017-04-14 16:40] mbudiu-vmw commented on #477
If we had type constraints it would be indeed checked during typechecking.
For now I will write a separate little pass - the typechecking pass is complicated enough.

[2017-04-14 22:29] mbudiu-vmw commented on #477
Adding a check for these problems causes several P4-14 programs with varbit fields to fail, because the translation to P4-16 is incorrect. The fundamental problem is that the translation of the varbit field length to p4-16 is incorrect.

This won't be very easy to fix. I may have to convert these to XFAIL and file a new issue.

I don't think we have any STF tests for varbit fields either; we proba

[2017-04-14 22:39] mbudiu-vmw opened #480 "gtestp4c crashes when testing nullptr"
The following line crashes (instead of reporting an error) when the argument is nullptr:
```ASSERT_NE(nullptr, pgm);```

[2017-04-14 22:48] mbudiu-vmw commented on #477
@hanw: Fixing this also causes several gtestp4c tests to fail.

[2017-04-14 22:52] mbudiu-vmw opened #481 "varbit fields in P4-14 are not handled correctly by the translator to P4-16"
In particular, headers with varbit fields cannot be extracted using the standard `extract` method.

At some point there was a proposal for a `@length` annotation in P4-16, to handle the function of the P4-14 length, but this is not in the current spec. (There are a few P4-16 tests that use the `@length` annotation, but they also incorrect with the current spec.)

[2017-04-14 22:53] sethfowler commented on #480
This is actually my mistake; I believe I took Han to do that, forgetting that GTest wants you to do `ASSERT_TRUE(pgm != nullptr)` instead. `ASSERT_EQ(expected, actual)`, `ASSERT_NE(expected, actual)`, etc are preferred because they give nicer assertion failure messages - along the lines of "We expected 'expected', but we actually got 'actual'."

However, for a type T with overloaded `operator<<(T*

[2017-04-14 22:53] mbudiu-vmw commented on #481
This issue is tightly related to #447.

[2017-04-14 22:55] mbudiu-vmw commented on #480
I propose to add two additional macros: ASSERT_NULL and ASSERT_NONNULL.
I had high regards for gtest, but this is just braindead.

[2017-04-14 22:57] sethfowler commented on #480
I'd prefer to just stick with the standard features of GTest. I'll update the tests appropriately.

[2017-04-14 23:50] antoninbas commented on #447
Support for this has been added in bmv2 with https://github.com/p4lang/behavioral-model/pull/330
2 notable things:
- there is a new parser operation, `extract_VL` which takes 2 parameters, the second being an expression used to compute the length
- I introduced the notion of core primitives in bmv2, which are available on all bmv2 targets. These are `assign`, `assign_VL` and `assign_header`. `assi

[2017-04-15 00:15] mbudiu-vmw commented on #447
Thank you, this simplifies things. Can you have varbits in metadata?

[2017-04-15 01:01] antoninbas commented on #447
It should be possible to use a varbit metadata field as either operand of `assign_VL`; if I'm not mistaken that is the only thing that is allowed by the spec (if you consider that a metadata field cannot be used with extract / emit).

[2017-04-15 19:40] jafingerhut commented on #441
So after this commit, is Ubuntu 14.04 still supported?  At least the default g++ package version on Ubuntu 14.04 is 4.8, and with this change it fails saying it requires 4.9.  Is clang recommended for Ubuntu 14.04?  Or is it recommended to move to Ubuntu 16.04?  Something else?

[2017-04-15 19:53] jafingerhut commented on #441
I was able to install the default version of clang available for Ubuntu 14.04, which is clang 3.4, and compiled p4c successfully after that.  If this is the plan, it might be good to update the README for p4c to mention installing the clang package before building.  I can open a PR for that if desired.

[2017-04-15 20:10] ChrisDodd commented on #441
It requires either gcc 4.9 or clang 3.3 as the configure check says.  Either can be installed on Ubuntu 14.04 through the normal channels though neither is installed by default.

[2017-04-16 19:33] sethfowler commented on #441
Yep. We are only running tests on Ubuntu 16.04 at this point, so that’s the officially supported OS, in that you cannot check in code that breaks with that configuration. However, unofficially, Ubuntu 14.04 will likely continue to work (with an updated compiler) for the foreseeable future.

[2017-04-16 22:52] jafingerhut opened #486 "P4_16 program struct field name collision causes wrong bmv2 JSON file"
See the sample P4_16 program and JSON file generated on this issue: https://github.com/p4lang/behavioral-model/issues/331

I do not know whether fixing this requires only a change in p4c-bm2-ss, or whether it would require changes in both that and bmv2.

[2017-04-17 05:57] jafingerhut commented on #413
I've verified that after the commits made to fix the crash, the compiler no longer crashes when compiling the sample test program I gave.  Closing this issue.

[2017-04-17 05:57] #413 closed

[2017-04-17 07:29] dingrui37 opened #487 "Who can tell me the differences between p4c, p4c-bm and p4c-hlir ?"
Who can tell me the differences between p4c, p4c-bm and p4c-hlir ? thanks

[2017-04-17 07:35] jafingerhut commented on #487
I have at least partial answers in a README here:
https://github.com/jafingerhut/p4-guide#p4-hlir

For folks more knowledgeable of the P4 tools than me, I would appreciate a
critical reading of those few paragraphs to see if I have misrepresented
anything.

Andy

On Mon, Apr 17, 2017 at 12:29 AM, dingrui37 <notifications@github.com>
wrote:

[2017-04-17 15:56] #473 closed

[2017-04-17 15:57] #480 closed

[2017-04-17 16:04] antoninbas opened #489 "P4_14 parser exceptions are not recognized by bison parser"
parser exceptions have never been used much in P4_14 AFAIK, however people are complaining that p4c is rejecting valid (according to the current spec) P4_14 programs that use parser exceptions

[2017-04-17 16:20] antoninbas opened #490 "recomputing / verifying the TCP checksum in P4_16?"
I've been looking for an example, but I couldn't find any? How can I express that the checksum computation needs to include the whole TCP payload?
Incremental checksum computation would work for recomputing the checksum, but not for checksum verification.
Finally the `Checksum16` extern in v1model.p4 does not match the one described in Appendix C of the P4_16 spec, and does not support incremental

[2017-04-17 16:38] mbudiu-vmw commented on #490
- Indeed, v1model.p4 does not support payload checksums
- The spec checksum is just an example; each architecture will have a different checksum unit
- We should probably add a new method to the v1model.p4 checksum, something like "addPayload()'. We then will have to properly translate p4-14 to that, and also to generate the right json out of it. Hopefully it will provide the intended semantics.
-

[2017-04-17 17:18] antoninbas commented on #487
The description is accurate IMO

[2017-04-17 22:32] hanw opened #492 "Using enum as a type generates syntax error."
[code]

Issue:
action_selector does not accept an enum as the type for instantiation.

Error message:
[code]

[2017-04-17 22:37] mbudiu-vmw commented on #492
You see what a terrible error message this is from gtest, it does not really tell you where the error is.

I cannot reproduce this error, I am getting the following:
[code]

[2017-04-17 22:41] sethfowler commented on #492
What do you mean "from GTest"? That's just p4c's normal error reporting. The line that's being reported is correct.

[2017-04-17 22:41] mbudiu-vmw commented on #492
[code]

[2017-04-17 22:43] sethfowler commented on #492
Yes, that is correct. That error message points to the line where the error is in the P4 program, which is also a line in a `.cpp` file since the P4 program is defined inline in the test.

[2017-04-17 22:45] mbudiu-vmw commented on #492
Yes, but I don't have that C++ program, since the code is not checked-in.
How about the error message I posted which happens if you don't use gtest?

[2017-04-17 22:48] jnfoster commented on #492
Mihai, I am on 482a3bdee10716281cc544f7ebbe7330355b0019.

I see this error message for Han's original code snippet, which is like yours but also dumps core:
[code]

With the newer code since he updated the issue, I see the kind of error he first reported:
[code]

[2017-04-17 22:52] mbudiu-vmw commented on #492
I don't understand where this error is coming from. Look at the code, there is no line like the one quoted in the sources. There is no identifier `HashAlgo`.

[2017-04-17 22:53] jnfoster commented on #492
He updated the code to

[code]

[2017-04-17 22:53] mbudiu-vmw commented on #492
@jnfoster: the compiler is dumping core because you can't compile this with p4c-bm2-ss; this is not a program for v1model.
I will file a separate bug for that.

[2017-04-17 22:54] mbudiu-vmw opened #493 "Compiling non v1model.p4 programs may crash p4c-bm2-ss"

[2017-04-17 23:00] hanw commented on #492
I pasted the wrong test case in the original email. Thanks Nate for pointing that out.

[2017-04-17 23:11] mbudiu-vmw commented on #492
This example is not syntactically correct; you can only use types as type arguments when specializing a type. However, HashAlgo.CRC32 is not a type, it is a constant.

[2017-04-17 23:14] mbudiu-vmw commented on #489
I have assigned @ChrisDodd; but he can probably only help with the grammar; we should discuss about how to represents exceptions in P4-16. It would be nice to have at least one test example with exceptions.
I never understood clearly their semantics personally.

[2017-04-17 23:18] #463 closed

[2017-04-17 23:24] hanw opened #495 "Syntax error with generic counter extern."
This is a snippet from the upcoming portable switch architecture psa.p4.

We are trying to create a generic counter extern and run into a syntax error with the frontend.

[code]

Error message:
[code]

The code snippet is pushed to https://github.com/hanw/p4c/commit/2a2827e8e46bad410c7f9c32d2ca6b18f04b6e49

[2017-04-17 23:25] mbudiu-vmw commented on #495
The syntax is like Java; you cannot have generic constructors; all generic arguments are on the type itself.
So just delete the `<W>` from the constructor.

[2017-04-17 23:26] mbudiu-vmw commented on #495
Also, probably you don't want a `<W>` on the count method; it uses the `<W>` from the extern.

[2017-04-17 23:28] hanw commented on #495
[code]
With the above example, frontend reports a different error.

[code]

[2017-04-17 23:29] mbudiu-vmw commented on #495
Yes, `int` is not a type you can write down in P4. It is only used internally by the compiler.
You have to choose a width; so use `int<32>`, or probably `bit<32>`.
One can argue that this is a bug in the design, but the implementation follows the design.

[2017-04-17 23:32] hanw commented on #495
Thanks, it makes sense now.

[2017-04-17 23:33] hanw commented on #495
@cc10512 It is probably easier for you to update the psa.p4 on your branch instead of me.

[2017-04-17 23:37] hanw commented on #495
@mbudiu-vmw I think it would be helpful to adjust the '^' position to point to space after `int` instead of the end of `number`. Should I file another issue for the improvement?

[2017-04-17 23:40] hanw commented on #495
alternatively, the error message could say `unexpected IDENTIFIER "number"`.

[2017-04-17 23:42] cc10512 commented on #492
However, @hanw's example is using HashAlgo as the the type, and HashAlgo.CRC32 as a constant parameter. That doesn't work either.

[2017-04-17 23:52] mbudiu-vmw commented on #495
These error messages suck, but they come from bison.
I don't know how to improve on them.

[2017-04-17 23:54] mbudiu-vmw commented on #492
The example posted won't work in Java or C# either; the generics in P4 are modeled after those languages.
A constant can be used perhaps as a constructor parameter, but not as a template parameter.
Maybe there is another example I have not seen?

[2017-04-17 23:56] cc10512 commented on #492
Here is the source for all the examples that @hanw is trying to get through the compiler: https://github.com/cc10512/p4c/blob/cc/psa/p4include/psa.p4

[2017-04-17 23:58] mbudiu-vmw commented on #492
There are generic externs in v1model.p4. In particular, register is a working example.
If you want a constant value, pass it as a constructor parameter.
In our language both templates and constructor arguments are evaluated at compile-time, so the expressivity is the same.

[2017-04-19 00:08] antoninbas commented on #486
I had pushed a patch to bmv2 to check for name / id duplicates when appropriate (https://github.com/p4lang/behavioral-model/pull/334). However it broke the tests for this repo (see output below). I reverted my change temporarily, but it would be great if the bmv2 backend could be fixed.

[code]

[2017-04-19 00:31] mbudiu-vmw commented on #486
We can mangle the names in the output, but I wonder whether this will affect the control-plane.

[2017-04-19 00:39] mbudiu-vmw commented on #486
Indeed, that's a problem.
For example, if any of these fields are used as table keys, they will no longer match.
Unfortunately the @name annotations for keys do not seem to be represented in the JSON, so we cannot change the key names. @sethfowler @ChrisDodd @antoninbas : do you have any suggestions on how to fix this?

[2017-04-19 01:07] sethfowler commented on #486
@antoninbas, can we just replace the names we're using in the JSON right now with fully qualified names? Does BMV2 actually interpret these names or does it just treat them as opaque?

[2017-04-19 01:27] antoninbas commented on #486
You can use the fully-qualified names in the JSON, but you would have to use the same names in the STF files.

[2017-04-19 01:28] sethfowler commented on #486
That'd be fine with me. Anyone see any downsides?

[2017-04-19 04:14] jafingerhut commented on #486
I think I'm hitting this issue also with an action declared at the top level in a P4_16 program, used as the action for two different tables.  That might just be another instance of the same issue, solved the same way, but I thought I would mention it.  I can create a small sample test program if it would be useful.

[2017-04-19 05:59] jnfoster commented on #495
@hanw can we close this?

[2017-04-19 06:00] jnfoster commented on #492
Can we safely close this?

[2017-04-19 06:02] jnfoster opened #496 "Missing declaration for constructor argument"
Compiling the following program,
[code]
produces an error:
[code]
However, if I replace that `d` with `D()`, then it successfully compiles.

[2017-04-19 06:02] hanw commented on #495
yes.

[2017-04-19 06:02] #495 closed

[2017-04-19 06:10] hanw commented on #492
Closed by passing constant value as a constructor parameter.

[2017-04-19 06:10] #492 closed

[2017-04-19 08:37] jafingerhut opened #497 "p4c-bm2-ss writes incorrect JSON file if there are "Removing unused action parameter" warnings"
See attached .p4 and .json files.  When compiled there are correct warnings about unused parameters for action set_bd_dmac_intf.  If you look at action set_bd_dmac_intf in the JSON file, it has 3 entries for the used arguments under key "runtime_data".  However, under the "primitives" key, every time there is a "modify_field" primitive action with source data from a parameter that comes after an u

[2017-04-19 16:09] #425 closed

[2017-04-19 16:12] mbudiu-vmw commented on #496
This is a weird one. I haven't thought that you could pass controls as arguments to other controls (using constructor arguments) - but it looks like you can. Is this something we want to allow in the spec?

[2017-04-19 16:43] jnfoster commented on #496
Morally, it's no different than defining C in the scope of an instance d. So we should only rule it out if what I described is also illegal.

-N

[2017-04-19 16:46] jafingerhut commented on #496
The compiler does not allow defining a control within the lexical scope of an outer control, if that is what you mean.

[2017-04-19 16:48] mbudiu-vmw commented on #496
This looks a lot like a function reference. It can be resolved statically, but the thinking was that we don't have function references - any identifier which names a function can be resolved statically.

This case is strange because the identifier can be resolved statically - after some substitutions are performed.
But inside C you don't know what instance of D you are calling.

[2017-04-19 16:48] jnfoster commented on #496
[code]

[2017-04-19 16:49] mbudiu-vmw commented on #496
The last question is related to global instances; it's slightly different.
There are no global instances in this issue example.

[2017-04-19 16:50] mbudiu-vmw commented on #496
Then we should also allow this:

[code]

[2017-04-19 16:51] mbudiu-vmw commented on #496
It would be simplest if we disallowed passing controls, parsers and packages as constructor arguments.
I am trying to make this work, but I would rather keep the language simpler for now.

[2017-04-19 16:52] mbudiu-vmw commented on #496
Note that we can allow them later if we change our mind.

[2017-04-19 16:52] jnfoster commented on #496
My original response was that if we do that, then we should also disallow global instances because they achieve the same effect.

[2017-04-19 16:53] mbudiu-vmw commented on #496
It is not the same effect; in C you can resolve d immediately.
You don't need to see the instantiation of C to resolve it.

[2017-04-19 17:22] jafingerhut commented on #497
And if anyone else hits this issue before it is fixed, it does seem that removing all unused action parameters until those warnings are gone does work around this problem, as one might expect.

[2017-04-19 19:16] sethfowler commented on #497
IMO, we should just stop removing unused action parameters.

We deliberately aren't doing it for P4Runtime.

Is there any reason not to make that change?

[2017-04-19 21:12] mbudiu-vmw commented on #497
I was about to work on a fix, but indeed, it would be better if we could keep the unused parameters.
This behavior is inherited from the P1-14 compiler.

[2017-04-19 21:52] jafingerhut commented on #497
I think continuing to warn about unused parameters would be useful, even if they are left in the bmv2 JSON file.

[2017-04-19 21:55] jafingerhut commented on #487
OK to close this now, then?

[2017-04-19 21:57] jafingerhut commented on #486
Just a note that this issue may be the same as, or at least is related to, this one: https://github.com/p4lang/p4c/issues/455

[2017-04-20 00:40] sethfowler opened #501 "The p4c driver references the build directory"
The version of the `p4c` driver program we install includes this line which references the build directory:

[code]

This makes it fail to start if you delete the build directory from your system.

It's a bug in the Makefile; we should fix it.

[2017-04-20 00:51] sethfowler opened #502 "It's not obvious how to specify a target for the p4c driver"
[code]

Hmm, OK.

[code]

Hmm. Maybe `--target-help`?

[code]

:(

[code]

Oh, OK.

[code]

Doh! (In fairness, `fish` is harsher about this than `bash`.)

[code]

There we go. Whew.

[2017-04-20 16:06] mbudiu-vmw commented on #497
I will attempt to provide a fix for this that uses an #if REMOVE_PARAMETERS. So then we can do it in either way. But, of course, I won't be able to test both cases until BMv2 handles unused parameters.

Note that removing parameters violates the contract that the control-plane API is readable from the program.

[2017-04-20 16:17] antoninbas commented on #497
There is nothing required from bmv2 AFAIK. If you leave an unused parameter in the JSON, nothing bad will happen, it will just not be used. And as pretty much everyone has mentioned, from a control-plane perspective, it is better to leave unused parameters and simply print a warning.

[2017-04-20 16:19] mbudiu-vmw commented on #497
OK, then I will just them in. Much simpler.
Note that there seem to be several Travis build failures related to this bug, I don't know why it didn't show up before.

[2017-04-20 16:23] antoninbas commented on #497
I updated bmv2 to sanitize runtime data indices in action bodies in the JSON. p4c-bmv2-ss outputs invalid JSON every time there is an unused parameter in an action, which is now rejected by bmv2. Unlike my previous sanity check (duplicate names / ids), I did not revert this fix, because I think it is a major bug, yet one "easy" to fix in p4c (a quick workaround may be to remove unused parameters i

[2017-04-20 22:10] #487 closed

[2017-04-20 22:21] #493 closed

[2017-04-23 18:04] cc10512 opened #510 "Including 'error' as a struct member crashes the compiler"
As reported by @vgurevich, the following snippet:
[code]
crashes the compiler
[code]

Full program attached: [error_in_struct.p4.txt](https://github.com/p4lang/p4c/files/949895/error_in_struct.p4.txt)

[2017-04-23 22:43] jafingerhut opened #512 "p4test gives error for what looks like legal if code inside action"
See the attached P4 program, in particular action 'foo'.  The error I get from both p4test and p4c-bm2-ss is:

    error: Could not find declaration for pred

There is no line number for the error, and nothing in the program named 'pred'.

There are 3 lines inside action 'foo', as explained in the comments, such that commenting out or deleting any one of them causes the error to go away.  That mig

[2017-04-23 22:53] jafingerhut opened #513 "p4test and p4c-bm2-ss give errors for conditional method call inside action"
I understand if some targets have complexity restrictions that prevent one from using if statements inside of actions, but it seems that at least p4test, and preferably also p4c-bm2-ss, should allow this, since P4_16 the language spec seems to allow it.

The attached program causes both p4test and p4c-bm2-ss to give an error on the mark_to_drop() call inside action 'foo':

    error: MethodCallSta

[2017-04-24 17:00] mbudiu-vmw commented on #513
p4test is a compiler for an "arbitrary" architecture, which is mostly used to test the passes; whether it should accept or not conditionals in actions is debatable. But if it did we could not test the predication pass...

p4c-bm2-ss does not accept conditionals in actions.

We should give a better error message, so this issue is a bug.

What happens is the following: the compiler accepts condition

[2017-04-24 19:12] mbudiu-vmw commented on #510
error is a funny one; as far as I can tell, BMv2 does not really expose the parser error at all - you cannot read the error generated by the parser, and it is not exposed as part of the architecture metadata.

But this does not preclude the user from using error as an enum.
So in the BMv2 back-end we can just treat it like a special enum.

[2017-04-25 01:51] jafingerhut opened #516 "Give error for assignment from bit<N> to bit<M> with N != M, and also for int<>"
This is to conform with the change to the P4-16 spec proposed here: https://github.com/p4lang/p4-spec/pull/173

there is a prototype patch attached as a file named p4c-diff-error-on-implicit-cast.txt on this issue: https://github.com/p4lang/p4-spec/issues/163#issuecomment-294698363
but that is not necessarily the best way to implement this change.  It is mentioned here only for reference.

[2017-04-25 04:04] jafingerhut commented on #513
p4c-bm2-ss _does_ accept some conditionals in actions without errors, but not always.  See https://github.com/p4lang/p4c/issues/512 for an attached program, where if you comment out one of several marked lines in an action that has an if statement, it compiles without error, and I believe even produces a correct bmv2 JSON file.

[2017-04-25 05:30] jafingerhut commented on #490
@antoninbas I am confused by the part of your question about calculating the checksum over the whole payload, where the question referes to the IPv4 checksum.

There is an IPv4 header checksum that includes the IPv4 header (including IPv4 options, if any).

There is a TCP checksum that includes the whole payload, and an optional UDP checksum that includes the whole payload, but those are not IPv4-

[2017-04-25 15:34] mbudiu-vmw commented on #513
Whether conditionals are supported or not in actions depends on the target. The language allows conditionals.

The BMv2 back-end attempts to translate "if" statements into "?:" expressions; it if succeeds, then the program will compile. But this cannot always be done. (The conversion is not very efficient.)

[2017-04-25 16:03] antoninbas commented on #490
My bad @jafingerhut, I meant the TCP checksum. Do you think I should fix my question?

[2017-04-25 19:48] mbudiu-vmw commented on #516
There are lots of p4-14 programs which fail this test.
There are no casts in p4-14, so we'll have to insert them in the conversion process.

[2017-04-25 21:08] jafingerhut commented on #516
Perhaps the default could be to insert implicit casts for P4-14 source code, but error for P4-16 source code?

[2017-04-25 21:54] jafingerhut commented on #490
I didn't think the standard architecture or P4_14 had any operations that worked on the entire packet payload, but I could have missed it.

[2017-04-25 21:55] antoninbas commented on #490
The tutorial repo has an example of how the TCP checksum can be recomputed in P4_14 if one TCP field is modified: https://github.com/p4lang/tutorials/blob/master/examples/simple_nat/p4src/simple_nat.p4#L160
This feature is needed for a P4 NAT implementation.

[2017-04-25 22:00] jafingerhut commented on #490
Got it.  And now I have verified that the v1.0.3 spec has the payload keyword in it, too, for exactly this purpose.  The latest draft of Calin's P4_16 psa.p4 doesn't have that keyword, nor mention 'payload' anywhere in it, but that could just be an oversight while other higher priority items are being worked on.

[2017-04-25 22:16] antoninbas commented on #490
updated my question to refer to the TCP checksum instead of the IPv4 checksum, which was a typo on my part

[2017-04-26 02:26] jafingerhut commented on #486
Confirmed today that this issue also exists if you have a P4_16 program with the same named table in two different control blocks.  p4c produces a JSON file that can cause bmv2 to crash.  I have confirmed that the reverted change https://github.com/p4lang/behavioral-model/pull/334 to behavioral-model code can catch this issue, too.

[2017-04-26 05:04] jafingerhut commented on #512
Confirmed that after the commits for this issue, the test program I submitted no longer gives an error.  Thanks for the fix.

[2017-04-26 05:04] #512 closed

[2017-04-26 05:07] jafingerhut commented on #513
Is there some existing program other than p4test and p4c-bm2-ss that is intended to accept everything legal in P4, regardless of the capabilities of a particular back end?

[2017-04-26 05:09] jnfoster commented on #513
I'm not sure how to interpret "arbitrary architecture" but I think that could be p4test...

[2017-04-26 05:50] jafingerhut commented on #513
@jnfoster: From Mihai's earlier comments, it sounds like right now if p4test allowed if statements with method calls like mark_to_drop() executed conditionally within them, then at least in whatever 'mode' p4test was running in that accepted that, could not be used to test one or more of the compiler passes.  I understand the desire to have automated tests, for sure.  But it does seem that this go

[2017-04-26 05:54] jnfoster commented on #513
I think having a dummy front-end that accepts all syntactically / semantically valid programs will be valuable for the entire P4 community.

Having a dummy front-end that can be used for testing is useful, but mostly of interest to p4c developers.

If people agree with these statements, we could work to build such a front-end. However, likely not before the P4 Workshop...

[2017-04-26 07:01] jnfoster opened #529 "Inconsistent behavior with casts involving tuples / headers"
Compiling the following program
[code]
Produces an error:
[code]
It seems like these should all work...

In addition, reporting the tuple on line 28 as an error is wrong. It has nothing to do with the declaration involving h4.

[2017-04-26 07:41] jafingerhut commented on #513
I will open a separate enhancement proposing that, marked suitably low priority, and close this issue, since at least for near-term purposes it is fixed.

[2017-04-26 07:41] #513 closed

[2017-04-26 08:00] jafingerhut opened #530 "Enhancement: program that accepts all legal P4_16 programs"
p4test is pretty close to this already, but for various reasons it does not accept some syntactically and semantically legal P4_16 programs as of 2017-Apr-26, e.g. see https://github.com/p4lang/p4c/issues/513

Given how close p4test is to this, one possible implementation might be to add a new p4test command line option that changes its behavior somewhat, enabling it to accept all legal P4_16 prog

[2017-04-26 14:48] jafingerhut commented on #513
Opened a separate issue for the desire to have a dummy front-end compiler that can take everything P4-16 allows: https://github.com/p4lang/p4c/issues/530

[2017-04-26 16:24] mbudiu-vmw commented on #530
The only thing needed is to stop compilation after the front-end is finished.

[2017-04-26 16:47] jafingerhut commented on #530
Sorry for my ignorance in asking, but is there already a p4test command line option that achieves this, and if so, what is it?

[2017-04-26 16:49] mbudiu-vmw commented on #530
No. But that would be the fix.

[2017-04-26 17:23] jnfoster commented on #529
Some more examples:
[code]

[2017-04-26 17:25] mbudiu-vmw commented on #529
What is bs?

[2017-04-26 17:26] jnfoster commented on #529
Sorry, just a pair of bools.

[2017-04-26 17:28] jnfoster commented on #529
Further, constant propagation seems inconsistent:
[code]
becomes
[code]
after the first constant folding pass.

[2017-04-26 17:29] antoninbas opened #532 "compiler bug: Unexpected operation when eliminating struct copying"
The attached program gives the following output with p4test and p4c-bm2-ss:
[code]

[struct_copying_bug.p4.txt](https://github.com/p4lang/p4c/files/959272/struct_copying_bug.p4.txt)

[2017-04-26 18:57] mbudiu-vmw commented on #532
Indeed, the bmv2 back-end does not handle properly functions that return structures.
But there is no such function in v1model.p4...

This program is not strictly a program that is supported by the p4test and p4c-bm2-ss compilers.
(p4test models the capabilities of p4c-bm2-ss quite closely).

This is a bug because we should not crash, we should just give a nice error message.
A separate question is

[2017-04-27 00:47] cc10512 opened #535 "invalid boolean values in generated json for table entries"
From @vgurevich:
Attached is a program and the JSON, produced by p4c-bm2-ss that result in BMv2 termination with the following message:
[code]
The problem is in the code that the compiler generates for the table initialization entries, e.g.
[code]
The right way to generate it is to use booleans instead of strings. Removing the quotation marks around "true"s and "false"s fixes the problem.

[2017-04-27 02:27] #535 closed

[2017-04-27 04:02] jafingerhut commented on #516
I have confirmed that the commit with PR #522 gives errors in P4-16 programs where LHS and RHS are `bit<W>` with different bit widths.  Closing this issue.

[2017-04-27 04:02] #516 closed

[2017-04-27 07:36] jafingerhut opened #537 "Conclusive proof that P4 is ahead of its time"
https://github.com/p4lang/p4c/blob/0f2b63ecdea93bcb0c7b2b8ced57bae62fc8b404/testdata/p4_16_samples/x-bmv2.p4#L2
https://github.com/p4lang/p4c/blob/0f2b63ecdea93bcb0c7b2b8ced57bae62fc8b404/testdata/p4_16_samples/def-use.p4#L2

:-)

[2017-04-27 18:00] jnfoster commented on #537
Or maybe Mihai is just really pessimistic about the P4-16 release date.

On Thu, Apr 27, 2017 at 12:36 AM, Andy Fingerhut <notifications@github.com>
wrote:

[2017-04-27 18:26] #537 closed

[2017-04-28 00:45] cole-barefoot opened #539 "P4_14 frontend should insert name annotations for bitwise-and key expressions."
Right now, the TableKeyNames pass extracts the name of the key operand in bitwise and key expressions when the other operand is a constant:

https://github.com/p4lang/p4c/blob/master/frontends/p4/tableKeyNames.cpp#L60

This is a P4_14 feature and should be done in the converter.  See discussion here:

https://github.com/p4lang/p4c/pull/528#discussion_r113556951

[2017-04-28 19:33] jafingerhut opened #543 "Question: Is match_kind 'selector' long term plan for P4-16 action profiles?"
A colleague and I noticed the 'selector' match_kind in v1model.p4, and I did a little digging and found that it is indeed related to the implementation of action profiles with v1model.p4, according to these comments: https://github.com/p4lang/p4c/blob/master/control-plane/p4RuntimeSerializer.cpp#L1314-L1320

Is the selector match_kind the long term plan for indicating that a table uses action prof

[2017-04-28 21:27] mbudiu-vmw commented on #543
V1model is a model of the p4-14 architecture. This models dynamic action selection from the p4-14 spec.

[2017-04-29 20:44] cc10512 commented on #543
```selector``` match_kind is in for a long term. The PSA will include it too to facilitate dynamic action selection. We are defining two externs, ActionProfile and ActionSelector for handling this functionality. See https://github.com/cc10512/p4c/blob/cc/psa/p4include/psa.p4#L469-L524.

[2017-04-29 22:20] jafingerhut commented on #543
So, is it semi-hackish to have a field with a match_kind of 'selector' in a search key, in that there is no intent that the hardware actually includes that field as any part of a search key in the target?  That is, the presence or absence of a field with match_kind 'selector' is effectively a global property of the table that could have bee implemented with a table annotation, but you don't want t

[2017-05-01 19:57] mbudiu-vmw commented on #543
There are many ways one could represent similar functionality in P4-16. We should start by documenting clearly what this keyword means; hopefully the PSA spec will do that; then we can figure out whether this is the best way to achieve this effect. For v1model I think this is the most economical way to express the functionality of dynamic action selection, where some parts of the key select the ta

[2017-05-03 20:18] mbudiu-vmw opened #561 "header_union support"
The compiler support for header unions is incomplete.
This applies to both the front-end and to the existing back-ends.

[2017-05-03 21:01] antoninbas opened #562 "Support nested structs in bmv2 compiler backend"
I'm attaching a sample program.
[nested_struct.p4.txt](https://github.com/p4lang/p4c/files/974694/nested_struct.p4.txt)

[2017-05-03 21:04] antoninbas opened #563 "Document all P4_16 language features which are not supported by the bmv2 backend"

[2017-05-03 21:53] jafingerhut commented on #562
Not sure if this is a duplicate of https://github.com/p4lang/p4c/issues/455
Whether it is or not, please keep this issue in mind, too: https://github.com/p4lang/p4c/issues/486

[2017-05-04 20:36] #563 closed

[2017-05-05 19:30] nwmcsween opened #570 "Ability to express layer 7 policies?"
Does p4 have the ability to express layer 7 routing?

[2017-05-05 19:37] jnfoster commented on #570
This is the repository for the P4 compiler. It is not the right place to ask this question. Please ask on one of the P4 mailing lists instead?

[2017-05-05 19:37] #570 closed

[2017-05-05 20:12] mbudiu-vmw opened #572 "Test in simplify.cpp seems incorrect"
The following two lines are probably incorrect; they should be replaced with something like `findContext<IR::P4Action>() != nullptr`

[code]

[2017-05-05 21:55] #479 closed

[2017-05-05 21:56] antoninbas commented on #426
@sethfowler Is now a good time to start tacking this? I have been fixing some issues in p4RuntimeSerializer but now I am afraid of these issues (or new ones) creeping back in as I make more changes in the future?

[2017-05-06 17:15] mbudiu-vmw opened #576 "translation for p4-14 stacks with varbits is incorrect"
The last/next pointer is not correctly updated

[2017-05-08 05:09] jnfoster opened #578 "remove `OverwritingHeader`"
Per 4/24 LDWG discussion.

[2017-05-09 00:11] #396 closed

[2017-05-09 00:24] cole-barefoot opened #582 "p4c should use `@globalname` annotations"
See Section 16.3.2 of the most recent P4_16 spec:
https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/P4-16-draft-spec.mdk#L4151

This has two parts:

1. The compiler, when introducing new global names (eg. for P4_14 conversion) should use `@globalname("foo")` instead of `@name(".foo")`.

1. The control plane name generation should be extended to interpret `@globalname("foo")` as it used to i

[2017-05-09 00:26] familysingh opened #583 "New p4c alpha compiler fails compile for old HLIR statefu.p4 file"
In the p4-hlir/tests directory, there is a stateful.p4 file (https://github.com/p4lang/p4-hlir/blob/master/tests/stateful.p4).  My failure is at the bottom of this writeup while another user's failure is included below.

From: Antonin Bas [mailto:antonin@barefootnetworks.com]
Sent: Monday, May 08, 2017 1:05 PM
To: hemant@mnkcg.com
Cc: Mihai Budiu <mbudiu@vmware.com>; p4-dev <p4-dev@lists.p4.org>
S

[2017-05-09 00:37] mbudiu-vmw commented on #578
This is more subtle:
- if P4-14 requires this error we have to insert a check in the compiler when compiling extracts
- if BMv2 triggers this error automatically, we have to invalidate headers prior to extraction
@antoninbas : what is the right way to handle this to remain compatible with P4-14 and to provide the right semantics for P4-16?

[2017-05-09 01:35] antoninbas commented on #578
I don't think there is anything in the p4_14 spec that says you cannot extract to the same header twice, so I think you are fine on that side.
I have a pull request opened to stop triggering this error in bmv2 (https://github.com/p4lang/behavioral-model/pull/358). I think I should be good to merge it even before you make the compiler change, but just in case I'll wait until you have a PR ready.

[2017-05-09 13:20] Xingdao-Fan opened #584 "v1model hash() yielding frontend compiler bug"
I apologize if this is intended behavior.
The following lines are yielding a compiler bug when compiled with `./p4c-bm2-ss --p4v 16` or `./p4test --p4v 16`.

# 1
[code]

# 2
The bug goes away if I make explicit typecasts:
[code]

# 3
But does not accept typedef types.

[code]

This message is printed twice, pointing at `(Hash) 0` and `(Hash) 0xFFFF`.

## Side note
The compiler is also demanding th

[2017-05-09 14:52] Xingdao-Fan opened #585 "Small quality of life enhancement proposals"
### 1.1 - Constant conjunction
It would be interesting to be able to do the following:
[code]
The compiler accepts this, but if I write `bit<TOTAL_OUTPUT_LENGTH> var` it forbids it:

### 1.2 - Logarithms and powers
And to use power or logarithm base 2 functions.

[code]

### 2.1 - Shift operator
[code]

[2017-05-09 15:09] mbudiu-vmw commented on #585
I would suggest filing separate issues for each problem; this makes it much simpler to solve them one by one. The first one is a duplicate of #47.

The second one is trickier, since you would have to define what the log is for non-powers of two and for negative numbers. In general you should define a macro for the log and compute the number of ports: ```#define LOG_PORTS 7
#define PORTS (1 << LOG_

[2017-05-09 16:33] mbudiu-vmw commented on #582
@sethfowler : AFAICT any name annotation that starts with a dot will be converted to a globalname annotation. So maybe you can just accept both cases in the API generation, and when you do I will change the compiler to generate globalname.

[2017-05-09 18:01] cole-barefoot opened #590 "Directly applying the same type in the same scope creates two instances with the same control API name"
For example:

[code]

Will be translated to something like:

[code]

Either duplicate applications of the same type in the same scope should be rejected, or they should refer to the same local instance (and the spec should be updated to reflect this).

[2017-05-09 18:35] mbudiu-vmw commented on #590
I actually think this is a legal program.
If there is a table in callee, then the code which generates a control-plane API should complain.

[2017-05-09 22:20] cole-barefoot commented on #590
@mbudiu-vmw: I see your point.  I'm going to close this issue and open a new one about rejecting programs that have the same control API names for different controllable entities.

[2017-05-09 22:20] #590 closed

[2017-05-09 22:27] cole-barefoot opened #595 "Reject programs with conflicting control plane names"
It is illegal for a P4 program to have two controllable entities with the same control plane name.  The compiler should reject these programs with an appropriate error message.

For example, tables "t1" and "t2" have the same control plane name in the following code snippet:
[code]

Note that there are two compiler passes that introduce new control plane name annotations:
 - `TableKeyNames`
 - `In

[2017-05-10 01:45] ngsrinivas opened #597 "p4c build error"
Hi, I'm unsure if this is the right place to ask, but I'm having trouble building p4c on ubuntu 16.04. Could you kindly help or let me know if there's a more appropriate place to post?

I've installed all the dependencies following the instructions from https://github.com/p4lang/p4c#ubuntu-dependencies, and the configuration through bootstrap.sh finishes without errors. However, the make fails wit

[2017-05-10 02:46] ngsrinivas commented on #597
I'll also add that I apt-get purged and reinstalled libgmp-dev which seems to be related to the error. Build continues to fail with this error.

[2017-05-10 02:54] sethfowler commented on #597
Which compiler are you using?

It might also help to run `make V=1` and post the output, so we can see the full command line that's being used to compile.

[2017-05-10 04:04] ngsrinivas commented on #597
g++ --version returns "g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609". I've attached the full compiler output with make V=1.

[p4c-compile-message-v-1.txt](https://github.com/p4lang/p4c/files/988659/p4c-compile-message-v-1.txt)

[2017-05-10 06:31] jnfoster opened #598 "u.isValid()"
The spec now mandates an `isValid()` method for header unions. This needs implemented.

[2017-05-10 15:30] mbudiu-vmw commented on #598
This is subsumed by #561.

[2017-05-10 15:40] mbudiu-vmw commented on #597
This is strange, it looks like the compiler has multiple possible conversions from intmax_t to an integer type.
I would imagine that intmax_t is one of these integer types.

[2017-05-10 15:58] hanw opened #599 "Unncessary assignments in action."
The `drop` action in this example `testdata/p4_16_samples/drop-bmv2.p4` takes `standard_metadata_t` as input, and the output json for bmv2 generates a `modify_field` operation for every field in `standard_metadata_t`, which seems wrong to me. The extra assignment is created in the midend `RemoveActionParameter` pass.

[2017-05-10 16:01] mbudiu-vmw commented on #599
The semantics of out parameters is copy-out.
The action receives an argument which is uninitialized and its value is copied out when the action terminates.

I think that the translation is correct. In a realistic example the argument should be inout.

[2017-05-10 16:08] mbudiu-vmw commented on #598
What is the value of isValid() on an empty union?
I really think we should forbid empty unions, they are a nasty corner case with no practical value.

[2017-05-10 16:12] jnfoster commented on #598
I'm fine deleting this issue; I was only adding it because someone (you) said it should be done at the LDWG ;-)

If u is an empty union, then `u.isValid()` is false. It's not an empty corner case. Following the definition given in the spec, it would be an empty disjunction, which is false (e.g., see https://en.wikipedia.org/wiki/Logical_disjunction).

-N

[2017-05-10 16:12] #598 closed

[2017-05-10 16:34] mbudiu-vmw opened #600 "lookahead does not properly check the type of the argument"
It cannot be a variable-sized type.

[2017-05-10 17:34] cc10512 commented on #597
We're using the same version of the compiler and it works fine. I'm inclined to think that your environment has an obsolete gmpxx.h stashed somewhere.  Can you run g++ with -v and check for gmpxx.h in the list of directories that the compiler is searching? Something like this:
[code]
and look for:
[code]

[2017-05-10 18:05] cc10512 commented on #599
This seem to be another example where a small mistake will have unintended consequences because of the semantics of out parameters.

[2017-05-10 18:10] hanw commented on #599
Changing the parameter to `inout` does not fix the problem. The generated JSON file still has an assignment on every standard_metadata field. I wonder where should we add a pass to eliminate these assignments (should it be handled by individual backend? or should it be done in the mid-end?) Otherwise, behavior model will do a bunch of unnecessary work if the compiler simply passes the assignment a

[2017-05-10 18:29] ngsrinivas commented on #597
Hi, thanks a bunch for your responses. I see the same GMP version as yours (6.1.0) in my corresponding output (attached). Also, I found gmpxx.h only in /usr/include after searching in all the listed directories.

GNU C++11 (Ubuntu 5.4.0-6ubuntu1~16.04.4) version 5.4.0 20160609 (i686-linux-gnu)
	compiled by GNU C version 5.4.0 20160609, GMP version 6.1.0, MPFR version 3.1.4, MPC version 1.0.3

I've

[2017-05-10 19:25] sethfowler commented on #599
Removing those writes could potentially reduce the number of dependencies between tables, which seems like a significant win.

[2017-05-10 20:51] jafingerhut commented on #599
I had a similar question about these extra copies to implement copy-in and copy-out semantics before.  Are they actually necessary for correct behavior?

Or are they there because it is obviously correct, and trimming the list to the minimum list of fields is a bit more work to implement and get correct in the compiler?

[2017-05-10 22:36] mbudiu-vmw commented on #599
There are several passes that deal with this, including def-use analysis, dead code elimination and copy propagation.

But the quality of the produced code is not very good at this point, we have been in bug-fixing mode for a while rather than code generation quality improvements.

[2017-05-10 22:37] mbudiu-vmw commented on #597
We could just cast the argument to a long before calling the constructor.
Does the standard guarantee no loss of information when casting from intmax_t to long?

[2017-05-10 22:39] jnfoster commented on #597
Isn't it better to get to the bottom of Srinivas's build issues rather than torque the code?

[2017-05-10 22:39] jnfoster commented on #597
(It builds fine for me on OS X and Linux, although I have a newer version of g++)

[2017-05-10 22:41] mbudiu-vmw commented on #597
Even if we get to the bottom, if other people will have the same problem we should prevent it if we can. We have already many workarounds for various known compiler and tool bugs and limitations. This is no different.

[2017-05-10 22:47] jnfoster commented on #597
@ngsrinivas MIT can't afford 64-bit VMs? (h/t @cc10512 for noticing that ;-))

[2017-05-10 22:52] cc10512 commented on #597
I think the difference is that you're using a 32-bit system. While I don't think we explicitly say this in our docs, we do test mainly on 64-bit systems. In this case, I believe that the cast that @mbudiu-vmw will make sense.

[2017-05-10 22:56] mbudiu-vmw commented on #597
@ngsrinivas : can you please check that this change is sufficient?

[code]

[2017-05-10 23:10] ngsrinivas commented on #597
Thanks @mbudiu-vmw and @cc10512! The patch solved the problem. :-)

I still find it mysterious that g++ ended up targeting a 32-bit system (I'm using an ubuntu 64-bit VM VirtualBox). Any thoughts?

[2017-05-10 23:10] #597 closed

[2017-05-10 23:22] engjefersonsantiago opened #604 "P4-14 to P4-16 fails in getting parameters from extern instatiation"
The P4-14 to P4-16 conversion is not getting the correct instatiation parameters.  E.g:

Following P4-14 code:

[code]

Generates:

[code]

I believe there is an issue with the v1parser.ypp, but I feel a bit unconfortable to change it.

[2017-05-11 00:01] sethfowler commented on #604
I'll take a look.

[2017-05-11 00:03] mbudiu-vmw commented on #604
This is probably about converting properties; they have no equivalent in P4-16.
They should probably be converted to constructor parameter, but for backwards compatibility with some existing P4-14 programs which are not in the public test suite they seem to be converted also to IR properties, which do not really exist in P4-16.

[2017-05-11 00:05] sethfowler commented on #604
By the way @engjefersonsantiago, when you paste code, it will be formatted more nicely if you surround it with the appropriate markdown syntax, like this:

[code]

(The `p4` is not strictly necessary, but it tells Github to highlight the code using P4 syntax.)

[2017-05-11 00:08] sethfowler commented on #604
@mbudiu-vmw yeah, that makes sense. I don't know much about extern properties, so I may not be the best person to look at this, actually. (I saw mention of `v1parser.ypp` and thought that if it was a parser problem, I could probably fix it quickly.)

[2017-05-11 00:10] mbudiu-vmw commented on #604
Unfortunately externs were a P4 v1.1 extension, so they are not even in the P4-14 spec.
So it won't be easy to figure out what to do about them.
@ChrisDodd has written some code to read extern properties, but they are not converted to constructors, but to properties, which flow through the IR all the way to the back-end. They do not generate P4-16 source.
Frankly, P4 v1.1 is deprecated, and we sho

[2017-05-11 00:29] ChrisDodd commented on #604
The issue is that P4_16 does not support extern attributes at all.  When we
convert P4_14 to P4_16 code, we keep the attributes in the IR, as the
'attributes' in the IR::Type_Extern, and the 'properties' in the
IR::Declaration_Instance object, which allows backends to get at them and
continue to support them properly, but if you dump the IR as P4, they're
dropped, as there is no valid way of repre

[2017-05-11 00:40] jnfoster commented on #604
I lack a detailed understanding of v1.1, but could we simply pick a canonical encoding as P4-16 extern objects? For example, maybe each attribute generates a corresponding constructor parameter and a getter/setter method. Then we could eliminate them in the front-end instead of carrying them down. We could also annotate the IR nodes to indicate they were encoding a v1.1 extern so that back-ends th

[2017-05-11 00:48] ChrisDodd commented on #604
The original plan was to transform extern attributes into construtor params.  The problem is that this scale poorly for externs with many (mostly optional) attributes, and doesn't work at all for attributes that are expressions rather than constants -- those need to be transformed method arguments somehow, but there isn't really clean one-to-one mapping.  You really need to redesign v1.1 externs t

[2017-05-11 02:21] vgurevich opened #608 "Compiler quietly accepts verify() in the controls"
Hello,

Through my ignorance, I've written the following:
[code]

The compiler happily accepted the code and generated a JSON.

The right thing to do would be to reject the program, since verify() can appear in parser states only as per spec.

[2017-05-11 02:32] vgurevich opened #609 "Compiler generates questionable code for P4_14-style checksum verification"
The file `p4_14_samples/basic_routing.p4` contains the code to verify IPv4 header checksum that the compiler translates into P4_16 as follows (formatting cleaned up):

[code]

The biggest problem (in my opinion) is that the code does not check for the validity of hdr.ipv4, which can lead to a number of unpredictable behaviors. The right thing to do would be to check the validity of any header, inv

[2017-05-11 03:07] mbudiu-vmw commented on #609
Today the compiler cheats and only looks at the updateChecksum. If you use that it will generate code for the verify too. Bmv2 does checksums in a very different way.

There was never support for parser exceptions because we had no examples using them.

[2017-05-11 03:21] vgurevich opened #610 "Checking checksums in the parser breaks the compiler"
Attached is a P4 program that attempted to do IPv4 header checksum verification in the parser (as per recommendation in the Appendix C of P4_16 specification.

The compiler produced the following error:
[code]
[l3_switch_check_in_the_parser.p4.txt](https://github.com/p4lang/p4c/files/991795/l3_switch_check_in_the_parser.p4.txt)

[2017-05-11 03:26] vgurevich commented on #609
I feel it would be less misleading if we left those controls blank. I did spend some time today trying to discover the truth.

In any case, I think we should treat this issue as a request to add proper handling of checksum verification. We specifically need to add it to either v1model or PSA, i.e. the final architecture we will be compiling P4_14 into, otherwise it will be difficult to claim compa

[2017-05-11 04:16] jnfoster commented on #608
Good catch. I pushed a possible fix.

[2017-05-11 06:19] cc10512 commented on #609
@vgurevich agreed we need to support checksums properly. I will open a separate issue for parser exceptions.

[2017-05-11 06:21] cc10512 opened #612 "Add support for parser exceptions"
[l3_switch.p4.txt](https://github.com/p4lang/p4c/files/992008/l3_switch.p4.txt)

[2017-05-11 15:24] mbudiu-vmw commented on #612
This is a duplicate of #489.
The example provided is P4-16, and thus does not contain exceptions.
What is the connection to this issue?

[2017-05-11 15:31] mbudiu-vmw commented on #609
This issue has been filed under various names; everything was much simpler if there was a BMv2 extern for checksums. We have a lot of code to handle checksums - incorrectly - which would go away. Se also #490, #445, #255, #134.

[2017-05-11 15:56] cc10512 commented on #612
Check the parse_ipv4 state. It calls verify() with an error code and expects the parser to throw an exception.

[2017-05-11 15:58] mbudiu-vmw commented on #612
There are no exceptions in P4-16; exceptions are a P4-14 concept.
The semantics in P4-16 is to just set an error and transition to reject. This feature is fully supported.

[2017-05-11 16:41] mbudiu-vmw commented on #612
I will close this since we already have a duplicate.
It would be nice to get a program with exceptions as a test case.

[2017-05-11 16:41] #612 closed

[2017-05-11 17:57] cc10512 commented on #604
The resolution then is that extern attributes are not supported officially supported. They are part of the IR, so a particular backend can take advantage of them, but since they have no P4_16 equivalent, they will not be printed in P4_16. As @ChrisDodd points out, you should redesign the externs for P4_16 to use methods.

[2017-05-11 18:12] engjefersonsantiago commented on #604
Ok then, it is not a problem to use P4-16. I am already using it. I opened the issue because I worked in a patch to support arbritrary externs in the bmv2 backend compiler and I faced this "problem".
However, I do believe we should throw an warning if the user tries to use extern attributes.

[2017-05-11 18:47] jnfoster commented on #604
+1

We should add a warning to more gracefully alert programmers to this
limitation of the converter.

-N

On Thu, May 11, 2017 at 11:12 AM, Jeferson Santiago da Silva <
notifications@github.com> wrote:

[2017-05-11 18:48] mbudiu-vmw commented on #604
Talk to @ChrisDodd first; it looks like Barefoot is actually using this feature.
He introduced it in the compiler.

[2017-05-11 18:56] jnfoster commented on #604
It's safe to pass these attributes through as annotations on the IR nodes. A backend can do what it wants.

However, we should warn if we try to use a backend that doesn't support them (like Bmv2) or try to print them as P4 via the `--top4` or `--pp` flags.

-N

[2017-05-11 19:23] cc10512 commented on #604
Sure, let's warn. @engjefersonsantiago would you mind submitting that patch for this issue?

[2017-05-11 20:01] engjefersonsantiago commented on #604
Sure I can.
My suggestion is to insert this warnig in the parser.
So, I have an opened PR [#591](https://github.com/p4lang/p4c/pull/591). Should I include the patch in the same PR?

[2017-05-11 20:03] jnfoster commented on #608
Fixed by #611

[2017-05-11 20:03] #608 closed

[2017-05-11 20:09] jnfoster commented on #604
Rather than issuing warnings in the front-end, perhaps they should go in the pretty printer (when we would be silently and confusingly eliding these IR nodes) and/or in backends that cannot handle them.

[2017-05-11 20:11] jnfoster commented on #604
In general, we try to split up PRs into as small as is reaosnable. Since these warnings are an independent improvement to p4c, it'd be great to do it separately from your other PR.

If it'd be a burden to split it out you can do them together. But it's more work to review...

[2017-05-12 00:01] technobilly opened #616 "make check: XFAIL: p4/testdata/p4_16_samples/cast-call.p4.test"
make check -j4 results:
[code]
The one failure message is:
XFAIL: p4/testdata/p4_16_samples/cast-call.p4.test

[2017-05-12 00:03] jnfoster commented on #616
XFAIL means "expected fail"

[2017-05-12 00:03] mbudiu-vmw commented on #616
Yes, this is expected.
The XFAIL denotes a well-known bug which we don't know how to fix, so for now we accept it.

[2017-05-12 00:28] technobilly commented on #616
Thanks for explanation. I'll close it.

[2017-05-12 00:28] #616 closed

[2017-05-12 05:25] cc10512 commented on #478
@jnfoster if you're satisfied with the fix, please close.

[2017-05-12 05:40] #478 closed

[2017-05-12 08:00] jnfoster commented on #529
Closed by #593

[2017-05-12 08:00] #529 closed

[2017-05-12 16:55] mbudiu-vmw opened #619 "run cpplint with make check?"
I see many Travis runs fail because of cpplint. Maybe we should consider running it together with make check.

[2017-05-12 16:55] jnfoster commented on #619
+1

[2017-05-12 17:31] sethfowler commented on #619
It's definitely easy to forget to run it.

[2017-05-12 19:40] vgurevich opened #622 "Multicast group field in standard_metadata"
Can we replace "mgast_grp" with "mcast_grp", please? :)

[2017-05-12 20:05] #572 closed

[2017-05-12 20:38] mbudiu-vmw commented on #585
So I don't really know if there is anything to fix for this issue.
Maybe we can close it.

[2017-05-12 22:17] #67 closed

[2017-05-13 00:19] mbudiu-vmw commented on #447
@antoninbas : I have started to work on this issue. I have a P4-16 file file which seems to generate json that is parsed by the simple_switch, but it crashes the switch when executing. https://github.com/mbudiu-vmw/p4c-clone/tree/issue447 shows a reproduction. The test that fails is
`./bmv2/testdata/p4_16_samples/issue447-bmv2.p4.test`

[2017-05-13 00:23] mbudiu-vmw commented on #447
BTW: the program contains just an extract and an emit of a header with a single varbit field; no other processing.

[2017-05-13 04:47] Wasdns opened #628 ""make -j4" failed in the dir p4c/build"
Hello,

I'm tring p4c in these days. But when I follow the instructions that used to install p4c, I got stuck with one error so that I cannot find a suitable way to resolve it.

### My System Settings

- Ubuntu 14.04, 64bit

- gcc version:

[code]

### My Steps

1.Update gcc to the version 4.9.4

2.Install the necessary dependencies, including protobuf.

3.follow the instructions of README:

[code

[2017-05-13 07:17] antoninbas commented on #628
You don't have enough memory to compile with `-j4`, which is why the compiler process is killed. The unified build means that each compilation unit is quite large. Try compiling with `-j2`. If that fails, try without parallel make.

[2017-05-13 11:39] Wasdns commented on #628
@antoninbas

Thank you very much! It works fine with the command `make -j2`.

[2017-05-13 11:39] #628 closed

[2017-05-14 01:09] engjefersonsantiago commented on #604
@jnfoster, I feel that I have not such experience with the compiler code to progate this warning deeper in the code. I think that someone more experint should address this issue.

[2017-05-14 13:23] vgurevich opened #629 "Emitting of arbitrary data is not implemented"
P4_16 spec and ```core.p4``` define two methods for ```packet_out```
[code]

The compiler doesn't recognize the second method (conditional emit of arbitrary data) and reports the following error:
[code]

Searching through the testcases didn't turn up any examples for this construct either.